@import 'styles/variables'
@import 'styles/mixins'

.feedback
  text-align: center
  @include responsive($screen: mobile)
    padding: 50px 0 50px 0
  @include responsive($screen: tablet)
    padding: 64px 0 43px 0
  @include responsive($screen: desktop)
    padding: 85px 0 57px 0
  @include responsive($screen: large-desktop)
    padding: 120px 0 80px 0

  &__title
    line-height: 1.6
    @include responsive($screen: mobile)
      font-size: 24px
      padding-bottom: 40px
      line-height: 1.34
    @include responsive($screen: tablet)
      font-size: 20px
      padding-bottom: 21px
    @include responsive($screen: desktop)
      font-size: 26px
      padding-bottom: 28px
    @include responsive($screen: large-desktop)
      font-size: 34px
      padding-bottom: 40px

  &__client-wrapper
    justify-content: flex-start
    align-items: center
    display: flex
    p
      line-height: 1.25
    @include responsive($screen: mobile)
      padding-bottom: 40px
      padding-top: 30px
    @include responsive($screen: tablet)
      padding-bottom: 26px
      padding-top: 11px
    @include responsive($screen: desktop)
      padding-bottom: 36px
      padding-top: 14px
    @include responsive($screen: large-desktop)
      padding-bottom: 50px
      padding-top: 20px

    img
      border-radius: 50%
      object-fit: cover
      @include responsive($screen: mobile)
        width: 68px
        margin-right: 20px
      @include responsive($screen: tablet)
        width: 45px
        margin-right: 11px
      @include responsive($screen: desktop)
        width: 60px
        margin-right: 14px
      @include responsive($screen: large-desktop)
        width: 85px
        margin-right: 20px

  .react-multi-carousel-list
    max-width: 90vw

  .react-multi-carousel-dot-list
    bottom: -8px

  .react-multi-carousel-dot
    button
      width: 10px !important
      height: 10px !important
      border-radius: 50% !important
      background: #eaeaea !important
      display: inline-block !important
      margin-right: 10px !important
      border: none !important
      @include responsive($screen: mobile)
        height: 5.8px !important

  .react-multi-carousel-dot--active
    button
      background: $yellow !important
      width: 30px !important
      border-radius: 20px !important
      @include responsive($screen: mobile)
        width: 22px !important
        height: 5.8px !important
