@import '../../../../styles/variables.sass'

.feedback
  padding: 8.3vw 0 5.5vw 0
  text-align: center
  
  &__title
    line-height: 1.6
    padding-bottom: 2.8vw !important

  &__client-wrapper
    justify-content: flex-start
    align-items: center
    padding-bottom: 3.4vw
    padding-top: 1.4vw
    display: flex

    img
      width: 5.9vw
      height: 5.9vw      
      border-radius: 50%
      object-fit: cover
      margin-right: 1.4vw !important

  .react-multi-carousel-list
    max-width: 90vw
      
  .react-multi-carousel-dot
    button
      width: 10px !important
      height: 10px !important
      border-radius: 50% !important
      background: #eaeaea !important
      display: inline-block !important
      margin-right: 10px !important
      border: none !important

  .react-multi-carousel-dot--active
    button
      background: $yellow !important
      width: 2.1vw !important
      border-radius: 1.4vw !important    

@media (min-width: 768px) and (min-width: 1365px)
  .feedback

    &__quote
      line-height: 70px

    &__title
      font-size: 26px

@media only screen and (min-width: 1366px)
  .feedback
    padding: 120px 0 80px 0

    &__title
      font-size: 34px
      padding-bottom: 40px !important
    
    img
      width: 85px
      height: 85px      
    
    .react-multi-carousel-dot--active
      button
        background: $yellow !important
        width: 30px !important
        border-radius: 20px !important
    
    &__client-wrapper
      padding-bottom: 50px
      padding-top: 20px

