@import 'styles/variables'
@import 'styles/mixins'

.about-us
  display: flex
  background-color: $slightOrange
  over-flow: hidden
  @include responsive($screen: mobile)
    flex-direction: column
    padding: 30px 0 75px 0
  @include responsive($screen: tablet)
    padding: 40px 0 75px 0
  @include responsive($screen: desktop)
    padding: 56px 0 105px 0
  @include responsive($screen: large-desktop)
    padding: 80px 0 150px 0

  &__left-side
    width: 40.7%
    @include responsive($screen: mobile)
      width: 100%
    h2
      line-height: 1.33
      @include responsive($screen: mobile)
        font-size: 28px
        margin-bottom: 21px
      @include responsive($screen: tablet)
        font-size: 20px
        margin-bottom: 10px
      @include responsive($screen: desktop)
        font-size: 28px
        margin-bottom: 14px
      @include responsive($screen: large-desktop)
        font-size: 40px
        margin-bottom: 20px
    p
      line-height: 1.5
      @include responsive($screen: mobile)
        font-size: 16px
        padding-bottom: 31.5px
      @include responsive($screen: tablet)
        font-size: 14px
      @include responsive($screen: desktop)
        font-size: 14px
      @include responsive($screen: large-desktop)
        font-size: 18px

  &__right-side
    overflow: inherit
    width: 58.4%
    @include responsive($screen: mobile)
      width: 100%
      padding-left: 0 !important
    img
      width: auto
      float: right
      width: 69.3%
      @include responsive($screen: mobile)
        width: 100%
        padding: 0 25px 0 26.2px
