@import '../../../../styles/variables.sass'

.about-us
  display: flex
  background-color: $slightOrange
  over-flow: hidden

  &__left-side
    h2
      line-height: 1.2

    p
      line-height: 1.54

  &__right-side
    overflow: inherit
    img
      height: auto

@media (min-width: 768px) and (max-width: 1023px)
  .about-us
    padding-top: 64px
    padding-bottom: 103px  

    &__left-side
      h2
        font-size: 20px
        line-height: 1.2
        margin-bottom: 22px

      p
        font-size: 14px
        line-height: 1.54

    &__right-side
      padding-left: 61px !important
      overflow: inherit
      img
        width: 348px
        height: auto

@media (min-width: 1024px) and (max-width: 1365px)
  .about-us
    padding-top: 85px
    padding-bottom: 137px  

    &__left-side
      h2
        font-size: 34px
        line-height: 1.2
        margin-bottom: 30px

      p
        font-size: 18px
        line-height: 1.54

    &__right-side
      padding-left: 82px !important
      overflow: inherit
      img
        width: 464px
        height: auto
    
@media only screen and (min-width: 1366px)
  .about-us
    padding-top: 120px
    padding-bottom: 193px  

    &__left-side
      h2
        font-size: 50px
        line-height: 1.2
        margin-bottom: 42px

      p
        font-size: 26px
        line-height: 1.54

    &__right-side
      padding-left: 115px !important
      overflow: inherit
      img
        width: 652px
        height: auto
    