@import '../../styles/variables.sass'

.about-container
  .main-header, .sub-header, .breadcrumb
    background-color: $slightOrange !important

  &__top-wrapper
    background-color: $slightOrange
    z-index: 900

  &__wavy-bg
    width: 100%
