.qualities
  padding: 0 30px
  .check-point-wrapper
    padding-top: 10px

  &__items
    text-align: left

  &__item-flex
    display: flex
    padding-bottom: 30px
    text-align: left
    p
      margin: 0
      line-height: 1.3
      padding-left: 20px

@media only screen and (min-width: 1023px)
  .qualities
    &__main-content
      display: flex

    &__items
      font-size: 20px

    &__key-success-wrapper
      padding: 0 50px

    &__item-flex
      display: flex
      padding-bottom: 35px
      p
        line-height: 30px

@media only screen and (min-width: 1439px)
  .qualities
    padding: 100px
