.qualities
  padding: 0 30px
  .check-point-wrapper
    padding-top: 10px

  &__items
    text-align: left

  &__item-flex
    display: flex
    padding-bottom: 30px
    text-align: left
    p
      margin: 0
      padding-left: 20px

  &__title.heading-base
    text-align: center
    padding-bottom: 30px

@media only screen and (min-width: 1023px)
  .qualities
    padding: 0 50px 80px 50px

    &__title
      padding-bottom: 20px

    &__main-content
      display: flex

    &__key-success-wrapper
      padding: 0 50px

    &__item-flex
      display: flex
      padding-bottom: 35px

@media only screen and (min-width: 1300px)
  .qualities
    padding: 140px 100px 120px 100px

    &__title
      padding-bottom: 40px
