@import 'styles/variables'
@import 'styles/mixins'

.introduction
  position: relative
  overflow: inherit
  @include responsive($screen: mobile)
    padding-top: 50px
  @include responsive($screen: tablet)
    padding-top: 50px
    padding-bottom: 63px
  @include responsive($screen: desktop)
    padding-top: 70px
    padding-bottom: 88px
  @include responsive($screen: large-desktop)
    padding-top: 100px
    padding-bottom: 126px

  &__title
    padding-top: 0
    @include responsive($screen: mobile)
      font-size: 24px
      line-height: 1.34
      padding-bottom: 20px
    @include responsive($screen: tablet)
      padding-top: 63px
      padding-bottom: 15px
      font-size: 20px
    @include responsive($screen: desktop)
      padding-top: 88px
      padding-bottom: 20px
      font-size: 28px
    @include responsive($screen: large-desktop)
      padding-top: 126px
      padding-bottom: 29px
      font-size: 40px

  &__text
    padding-top: 0
    font-family: ProximaNovaRegular
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 16px
      line-height: 1.5
      padding-bottom: 40px
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 14px
    @include responsive($screen: large-desktop)
      font-size: 18px

  img
    position: absolute
    left: 0
    width: 43.4%
    @include responsive($screen: mobile)
      position: relative
      left: -15px
      width: 95%
      display: block
    @include responsive($screen: tablet)
      max-width: 386px
      top: 50px
    @include responsive($screen: desktop)
      max-width: 477px
      top: 70px
    @include responsive($screen: large-desktop)
      max-height: 550px
      max-width: 625px
      left: calc(#{$desktopPadding} - 100px)
      top: 100px
