@import '../../../../styles/variables.sass'

.introduction
  padding-top: 8.3vw
  overflow: inherit

  &__title
    padding-bottom: 2.9vw
    padding-top: 0

  &__text
    padding-top: 0
    font-family: ProximaNovaRegular
  
  img
    left: 0
    position: absolute

@media (min-width: 768px) and (max-width: 1365px)
  .introduction

    &__title
      font-size: 26px
    
    p
      font-size: 18px
      line-height: 1.55

    &__left-side
      margin-left: -62.5px

    img
      height: 38.2vw

@media only screen and (min-width: 1366px)
  .introduction
    padding-top: 120px

    &__title
      padding-bottom: 40px
      font-size: 34px
    
    p
      font-size: 26px
      line-height: 1.54

    &__left-side
      margin-left: -90px

    img
      height: 550px