@import 'styles/variables'
@import 'styles/mixins'

.introduction
  position: relative
  overflow: inherit
  @include responsive($screen: mobile)
    padding-top: 50px
  @include responsive($screen: tablet)
    padding-top: 64px
  @include responsive($screen: desktop)
    padding-top: 85px
  @include responsive($screen: large-desktop)
    padding-top: 100px
    padding-bottom: 126px

  &__title
    padding-top: 0
    @include responsive($screen: mobile)
      font-size: 24px
      line-height: 1.34
      padding-bottom: 20px
    @include responsive($screen: tablet)
      padding-bottom: 21px
      font-size: 20px
    @include responsive($screen: desktop)
      padding-bottom: 28px
      font-size: 26px
    @include responsive($screen: large-desktop)
      padding-top: 126px
      padding-bottom: 29px
      font-size: 40px

  &__text
    padding-top: 0
    font-family: ProximaNovaRegular
    @include responsive($screen: mobile)
      font-size: 16px
      line-height: 1.5
      padding-bottom: 40px
    @include responsive($screen: tablet)
      font-size: 14px
      line-height: 1.54
      padding-left: 5px
    @include responsive($screen: desktop)
      font-size: 18px
      line-height: 1.54
      padding-left: 7.5px
    @include responsive($screen: large-desktop)
      font-size: 18px
      line-height: 1.5
      padding-left: 10px

  img
    position: absolute
    left: 0
    @include responsive($screen: mobile)
      position: relative
      left: -15px
      width: 95%
      display: block
    @include responsive($screen: tablet)
      height: 293px
      top: 64px
    @include responsive($screen: desktop)
      height: 391px
      top: 120px
    @include responsive($screen: large-desktop)
      max-height: 550px
      left: calc(#{$desktopPadding} - 100px)
      top: 100px
