@import '../../styles/variables.sass'

.check-point
  width: 9px
  height: 5px
  border-top: 2px solid $green
  border-right: 2px solid $green
  position: relative
  top: -3px
  bottom: 0
  transform: rotate(135deg)
