@import '../../../../styles/variables'
@import '../../../../styles/mixins'

.technology-detail
  @include responsive($screen: mobile)
    padding-top: 50px
  @include responsive($screen: tablet)
    padding-top: 80px
  @include responsive($screen: desktop)
    padding-top: 107px
  @include responsive($screen: large-desktop)
    padding-top: 150px

  &__description
    line-height: 1.54
    @include responsive($screen: mobile)
      font-size: 16px
      line-height: 1.5
      padding-bottom: 30px
    @include responsive($screen: tablet)
      font-size: 14px
      padding-bottom: 43px
    @include responsive($screen: desktop)
      font-size: 18px
      padding-bottom: 57px
    @include responsive($screen: large-desktop)
      font-size: 26px
      padding-bottom: 80px

  h3
    @include responsive($screen: mobile)
      font-size: 24px
      line-height: 1.34
      padding-bottom: 20px
    @include responsive($screen: tablet)
      font-size: 20px
      padding-bottom: 20px
    @include responsive($screen: desktop)
      font-size: 26px
      padding-bottom: 27px
    @include responsive($screen: large-desktop)
      font-size: 34px
      padding-bottom: 38px

  .header-group
    @include responsive($screen: mobile)
      font-size: 14px
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 18px
    @include responsive($screen: large-desktop)
      font-size: 26px

  .tab-header-title
    @include responsive($screen: mobile)
      font-size: 24px
      padding-bottom: 20px
    @include responsive($screen: tablet)
      font-size: 21px
      padding-bottom: 11px
    @include responsive($screen: desktop)
      font-size: 27px
      padding-bottom: 14px
    @include responsive($screen: large-desktop)
      font-size: 36px
      padding-bottom: 20px
