@import '../../../../styles/variables.sass'

.technology-detail
  &__description
    line-height: 1.54

@media (min-width: 768px) and (max-width: 1365px)
  .technology-detail
    padding-top: 10.3vw
    
    h3
      font-size: 26px
      padding-bottom: 2.6vw
    
    &__description
      font-size: 18px
      padding-bottom: 5.5vw
    
    .header-group
      font-size: 18px
    
    .tab-header-title
      fon-size: 26px
    
    .tech-tab__left-side
      p
        font-size: 16px

@media only screen and (min-width: 1366px)
  .technology-detail
    padding-top: 150px
    
    h3
      font-size: 34px
      padding-bottom: 38px
    
    &__description
      font-size: 26px
      line-height: 1.54
      padding-bottom: 80px
    
    .header-group
      font-size: 26px
    
    .tab-header-title
      fon-size: 36px
    
    .tech-tab__left-side
      p
        font-size: 20px

