@import 'styles/variables'
@import 'styles/mixins'

.technology-detail
  @include responsive($screen: mobile)
    padding-top: 50px
  @include responsive($screen: tablet)
    padding-top: 56px
  @include responsive($screen: desktop)
    padding-top: 79px
  @include responsive($screen: large-desktop)
    padding-top: 112px

  &__description
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 16px
      padding-bottom: 30px
    @include responsive($screen: tablet)
      font-size: 14px
      padding-bottom: 20px
    @include responsive($screen: desktop)
      font-size: 14px
      padding-bottom: 28px
    @include responsive($screen: large-desktop)
      font-size: 20px
      padding-bottom: 40px

  h3
    line-height: 1.34
    @include responsive($screen: mobile)
      font-size: 24px
      padding-bottom: 20px
    @include responsive($screen: tablet)
      font-size: 20px
      padding-bottom: 15px
    @include responsive($screen: desktop)
      font-size: 28px
      padding-bottom: 21px
    @include responsive($screen: large-desktop)
      font-size: 40px
      padding-bottom: 30px

  .header-group
    @include responsive($screen: mobile)
      font-size: 14px
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 14px
    @include responsive($screen: large-desktop)
      font-size: 20px

  .tab-header-title
    line-height: 1.33
    @include responsive($screen: mobile)
      font-size: 24px
      padding-bottom: 20px
    @include responsive($screen: tablet)
      font-size: 27px
      padding-bottom: 10px
    @include responsive($screen: desktop)
      font-size: 24px
      padding-bottom: 14px
    @include responsive($screen: large-desktop)
      font-size: 34px
      margin-bottom: 20px
