@import '../../styles/variables.sass'

.introduction
  padding: 100px 0
  text-align: left

  &__title
    padding-bottom: 20px
    padding-top: 50px

  &__left-side
    flex: 1
    img
      width: 100%

  &__text
    line-height: 30px

  &__right-side
    padding-left: 30px
    padding-right: 30px

@media only screen and (min-width: 1023px)
  .introduction
    display: flex
    padding: 0 50px 100px 50px
    text-align: left

    &__title
      padding-top: 0
      font-size: 26px

    &__left-side
      flex: 1
      padding-right: 50px
      img
        width: 100%
        height: auto

    &__right-side
      flex: 1
      padding-left: 0
      padding-right: 0

    &__text
      padding-top: 0

@media only screen and (min-width: 1300px)
  .introduction
    padding: 0 95px 0 0

    &__title
      font-size: 34px
      padding-bottom: 35px

    &__text
      font-size: 20px
      line-height: 40px

    &__text:last-child
      padding-top: 40px

    &__right-side
      padding-top: 20px

    &__text
      font-size: 26px
      padding-top: 0
