@import 'styles/variables'
@import 'styles/mixins'

.intro
  text-align: center
  
  @include responsive($screen: mobile)
    padding: 42px 0
  @include responsive($screen: tablet)
    padding: 42px 0
  @include responsive($screen: desktop)
    padding: 58px 0
  @include responsive($screen: large-desktop)
    padding: 82px 0
  .row
    background-color: $slightOrange
    @include responsive($screen: tablet)
      margin: 0 -12px 0 -13px !important
    @include responsive($screen: desktop)
    
      margin: 0 -17px 0 -18px !important
    @include responsive($screen: large-desktop)
      margin: 0 -25px !important

  [class*='col-']
    @include responsive($screen: mobile)
      padding: 10px 12px 10px 13px !important
    @include responsive($screen: tablet)
      padding: 10px 12px 10px 13px !important
    @include responsive($screen: desktop)
      padding: 45px 47px 45px 48px !important
    @include responsive($screen: large-desktop)
      padding: 58px 60px !important

  &__items
    text-align: left
    h5
      font-family: MalloryBold
      line-height: 1.23
      @include responsive($screen: mobile)
        max-width: 345px
        font-size: 30px
        line-height: 1.25
        margin-bottom: 34px
        margin-left: auto
        margin-right: auto
      @include responsive($screen: tablet)
        font-size: 23px
        margin-bottom: 17px
      @include responsive($screen: desktop)
        font-size: 34px
        margin-bottom: 23px
      @include responsive($screen: large-desktop)
        font-size: 44px
        margin-bottom: 34px
    p
      width: 100%
      line-height: 1.5
      @include responsive($screen: mobile)
        max-width: 345px
        font-size: 16px
        margin-bottom: 30px
        margin-left: auto
        margin-right: auto
      @include responsive($screen: tablet)
        font-size: 14px
        margin-bottom: 15px
      @include responsive($screen: desktop)
        font-size: 14px
        margin-bottom: 21px
      @include responsive($screen: large-desktop)
        font-size: 18px
        margin-bottom: 30px
    p.bottom-line
      margin-bottom: 0
    video
      @include responsive($screen: mobile)
        width: 100%
        height: auto
      @include responsive($screen: tablet)
        width: 100%
        height: auto
      @include responsive($screen: desktop)
        width: 100%
        height: 300px
      @include responsive($screen: large-desktop)
        width: 100%
        height: 300px
