@import '../../styles/variables.sass'

.quote
  background-color: $slightOrange

  &__right-side
    img
      width: 100%
      height: 100%

  &__content
    text-align: left
    padding-top: 30px
    padding-bottom: 20px

  &__author
    text-align: left

  &__left-side
    padding: 0 30px 30px 30px

@media only screen and (min-width: 1023px)
  .quote
    padding: 50px 0 99px 50px
    display: flex

    &__left-side
      padding-left: 0
      position: relative
      padding-right: 50px

    &__right-side
      display: flex
      justify-content: flex-end

    &__content
      padding-top: 0
      padding-bottom: 40px
      font-size: 36px
      padding-right: 50px
      width: 340px

@media only screen and (min-width: 1300px)
  .quote
    padding: 134px 0 200px 100px

    &__content
      width: 508px
      font-size: 54px

    &__author
      width: 508px

    &__right-side
      img
        width: 100%
        height: 618px

    &__left-side
      padding-right: 80px
