@import '../../styles/variables.sass'

.technologies
  padding: 50px 20px

  &__view-all
    font-family: ProximaNovaRegular
    padding-top: 80px
    padding-bottom: 30px
    color: $white
    letter-spacing: 0.5px

  h2
    font-size: 26px
    color: #ffffff

  background-color: #000000
  img
    display: inline-block
    width: 50px
    height: 60px

  &__grid
    padding-top: 50px
    display: grid
    justify-content: space-around
    grid-template: repeat(6, auto) / repeat(4, auto)
    grid-gap: 20px

@media only screen and (min-width: 767px)
  .technologies
    padding: 50px

    h2
      padding-bottom: 25px

    &__grid
      display: grid
      justify-content: space-between
      grid-template: repeat(4, auto) / repeat(6, auto)
      grid-gap: 50px

@media only screen and (min-width: 1023px)
  .technologies
    img
      display: inline-block
      width: 80px
      height: 70px

    &__view-all
      font-size: 20px

@media only screen and (min-width: 1439px)
  .technologies
    padding: 50px 100px

    h2
      font-size: 34px

    img
      width: 99px

    &__grid
      display: grid
      justify-content: space-between
      grid-template: repeat(4, auto) / repeat(6, auto)
      grid-gap: 115px
