@import '../../styles/variables.sass'

.technology-detail
  padding: 0 30px

  &__short-description
    padding: 20px 0

  &__paragraphs
    > div
      padding-top: 30px

@media only screen and (min-width: 1023px)
  .technology-detail
    padding: 0
    margin: 0 auto

    &__title
      text-align: center

    &__short-description
      text-align: center
      padding: 0 0 40px 0
      width: 80%
      margin: 0 auto

    &__main-content
      display: flex
      justify-content: center
      > p
        flex: 1
        display: flex
        justify-content: center

    &__paragraphs
      padding-top: 100px
      padding-bottom: 100px
      display: flex
      background-color: $softGray
      align-items: center
      > div
        background-color: $white
        padding: 60px 50px
        text-align: center
        h3
          padding-bottom: 20px

      > div:first-child
        margin-left: 50px
        margin-right: 25px

      > div:last-child
        margin-right: 50px
        margin-left: 25px

@media only screen and (min-width: 1300px)
  .technology-detail

    &__paragraphs
      padding-top: 150px
      padding-bottom: 150px

      > div:first-child
        margin-left: 100px
        margin-right: 25px

      > div:last-child
        margin-right: 100px
        margin-left: 25px

    &__short-description
      padding-bottom: 80px
