@import 'styles/variables'
@import 'styles/mixins'

.blog
  .breadcrumb, header, .welcome
    background-color: $slightOrange !important

  .welcome
    @include responsive($screen: mobile)
      padding-top: 30px
      padding-bottom: 50px
    @include responsive($screen: tablet)
      padding-top: 40px
      padding-bottom: 50px
    @include responsive($screen: desktop)
      padding-top: 56px
      padding-bottom: 70px
    @include responsive($screen: large-desktop)
      padding-top: 80px
      padding-bottom: 100px
    &__wrapper
      @include responsive($screen: tablet)
        padding-left: 56px
      @include responsive($screen: desktop)
        padding-left: 75px
      @include responsive($screen: large-desktop)
        padding-left: 105px

    h1
      line-height: 1.35
      @include responsive($screen: mobile)
        font-size: 28px
        padding-bottom: 20px
      @include responsive($screen: tablet)
        font-size: 24px
        padding-bottom: 5px
      @include responsive($screen: desktop)
        font-size: 32px
        padding-bottom: 7px
      @include responsive($screen: large-desktop)
        font-size: 46px
        padding-bottom: 10px

    p
      line-height: 1.2
      @include responsive($screen: mobile)
        font-size: 16px
        line-height: 1.5
      @include responsive($screen: tablet)
        font-size: 14px
      @include responsive($screen: desktop)
        font-size: 14px
      @include responsive($screen: large-desktop)
        font-size: 20px

  .blogs
    @include responsive($screen: mobile)
      padding-bottom: 10px
    @include responsive($screen: tablet)
      padding-top: 14px
      padding-bottom: 50px
    @include responsive($screen: desktop)
      padding-top: 14px
      padding-bottom: 70px
    @include responsive($screen: large-desktop)
      padding-top: 20px
      padding-bottom: 100px
    &__item
      @include responsive($screen: mobile)
        padding-bottom: 40px
      @include responsive($screen: tablet)
        padding-top: 32px
      @include responsive($screen: desktop)
        padding-top: 43px
      @include responsive($screen: large-desktop)
        padding-top: 60px
      h4
        font-family: MalloryBold
        line-height: 1.48
        @include responsive($screen: mobile)
          font-size: 24px
          line-height: 1.34
          padding-bottom: 20px
        @include responsive($screen: tablet)
          font-size: 17px
          padding-bottom: 11px
        @include responsive($screen: desktop)
          font-size: 25px
          padding-bottom: 14px
        @include responsive($screen: large-desktop)
          font-size: 34px
          padding-bottom: 10px
      p
        line-height: 1.69
        @include responsive($screen: mobile)
          line-height: 1.5
          font-size: 16px
        @include responsive($screen: tablet)
          font-size: 14px
        @include responsive($screen: desktop)
          font-size: 14px
        @include responsive($screen: large-desktop)
          font-size: 16px

      .category
        @include responsive($screen: mobile)
          padding-top: 20px
          padding-bottom: 20px
        @include responsive($screen: tablet)
          padding-bottom: 11px
        @include responsive($screen: desktop)
          padding-bottom: 14px
        @include responsive($screen: large-desktop)
          padding-bottom: 20px
        p
          color: #85868f
          &:last-child
            padding-right: 0
          @include responsive($screen: mobile)
            font-size: 12px
            line-height: 1.25
            padding-right: 40px
          @include responsive($screen: tablet)
            font-size: 12px
            padding-right: 10px
          @include responsive($screen: desktop)
            font-size: 12px
            padding-right: 14px
          @include responsive($screen: large-desktop)
            font-size: 12px
            padding-right: 20px

    &__item-image
      width: 100%
      @include responsive($screen: mobile)
        margin: 0 -15px
        width: calc( 100% + 30px )

  .row
    @include responsive($screen: tablet)
      margin: 0 -9px !important
    @include responsive($screen: desktop)
      margin: 0 -12.5px !important
    @include responsive($screen: large-desktop)
      margin: 0 -17.5px !important

  [class*='col']
    @include responsive($screen: tablet)
      padding-left: 9px !important
      padding-right: 9px !important
    @include responsive($screen: desktop)
      padding-left: 12.5px !important
      padding-right: 12.5px !important
    @include responsive($screen: large-desktop)
      padding-left: 17.5px !important
      padding-right: 17.5px !important

  .category-vertical
    @include responsive($screen: tablet)
      padding-top: 16px
    @include responsive($screen: desktop)
      padding-top: 21px
    @include responsive($screen: large-desktop)
      padding-top: 30px

  .wide-blog
    @include responsive($screen: tablet)
      padding-left: 13px
    @include responsive($screen: desktop)
      padding-left: 18px
    @include responsive($screen: large-desktop)
      padding-left: 25px

  .small-item-title
    line-height: 1.5
    @include responsive($screen: tablet)
      font-size: 14px !important
    @include responsive($screen: desktop)
      font-size: 18px !important
    @include responsive($screen: large-desktop)
      font-size: 24px !important

  .medium-item-title
    @include responsive($screen: tablet)
      margin-top: 5px
    @include responsive($screen: desktop)
      margin-top: 7px
    @include responsive($screen: large-desktop)
      margin-top: 10px