@import '../../styles/variables.sass'
.blog
  .breadcrumb, header, .welcome
    background-color: $slightOrange !important

  .welcome
    p
      line-height: 1.54
  
  .blogs
    &__item
      h4
        font-family: MalloryBold
        line-height: 1.47

      p
        line-height: 1.5

      .category      
        p
          color: #85868f
    
    &__item-image
      width: 100%
@media (min-width: 768px) and (max-width: 1023px)
  .blog
    .welcome
      padding-top: 43px
      padding-bottom: 80px

      &__wrapper
        padding-left: 56px
      
      h1
        font-size: 30px
        padding-bottom: 5px
      
      p
        font-size: 14px
    
    .row
      margin: 0 -12.5px !important
    
    [class*='col']
      padding-left: 12.5px !important
      padding-right: 12.5px !important

    .blogs
      padding-top: 14px
      padding-bottom: 80px

      &__item
        padding-top: 32px

        h4
          font-size: 17px
          padding-bottom: 11px

        p
          font-size: 12px
        
        .category
          padding-bottom: 14px
          p
            font-size: 8px
            padding-right: 10px
        
        .category-vertical
          padding-top: 16px

        .wide-blog
          padding-left: 15px

@media (min-width: 1024px) and (max-width: 1365px)
  .blog
    .welcome
      padding-top: 57px
      padding-bottom: 107px

      &__wrapper
        padding-left: 75px
      
      h1
        font-size: 38px
        padding-bottom: 7px
      
      p
        font-size: 18px
    
    .row
      margin: 0 -12.5px !important
    
    [class*='col']
      padding-left: 12.5px !important
      padding-right: 12.5px !important

    .blogs
      padding-top: 14px
      padding-bottom: 107px

      &__item
        padding-top: 43px

        h4
          font-size: 25px
          padding-bottom: 14px

        p
          font-size: 14px
        
        .category
          padding-bottom: 14px
          p
            font-size: 10px
            padding-right: 14px
        
        .category-vertical
          padding-top: 21px

        .wide-blog
          padding-left: 15px

@media only screen and (min-width: 1366px)
  .blog
    .welcome
      padding-top: 80px
      padding-bottom: 150px

      &__wrapper
        padding-left: 105px
      
      h1
        font-size: 60px
        padding-bottom: 10px
      
      p
        font-size: 26px
    
    .row
      margin: 0 -17.5px !important
    
    [class*='col']
      padding-left: 17.5px !important
      padding-right: 17.5px !important

    .blogs
      padding-top: 20px
      padding-bottom: 150px

      &__item
        padding-top: 60px

        h4
          font-size: 34px
          padding-bottom: 20px

        p
          font-size: 20px
        
        .category
          padding-bottom: 20px
          p
            font-size: 16px
            padding-right: 20px
        
        .category-vertical
          padding-top: 30px
        
        .wide-blog
          padding-left: 25px