.qualities
  padding: 8.3vw 0 8.3vw 0
  text-align: center

  .check-point-wrapper
    padding-top: 0.7vw

  &__items
    text-align: center
    img
      max-width: 100%
      max-height: 12.8vw
      margin-bottom: 2.8vw
    h5
      margin-bottom: 2.1vw
      font-weight: bold
    div
      p
        width: 100%
        margin: 0
        margin-bottom: 2.8vw !important
      p.bottom-line
        margin-bottom: 0 !important
  
  &__title
    padding-bottom: 2.8vw !important

@media (min-width: 768px) and (max-width: 1023px)
  .qualities
    padding: 77px 0 64px 0

    .row
      margin-right: -21px !important
      margin-left: -21px  !important

    [class*='col-']
      padding-right: 21px !important
      padding-left: 21px  !important 

    div
      p
        margin-bottom: 16px !important
    
    &__title
      font-size: 20px

    &__items
      h5, p
        font-size: 12px !important
        line-height: 1.5 !important

@media (min-width: 1024px) and (max-width: 1365px)
  .qualities
    padding: 102px 0 85px 0

    .row
      margin-right: -21px !important
      margin-left: -21px  !important

    [class*='col-']
      padding-right: 21px !important
      padding-left: 21px  !important 

    div
      p
        margin-bottom: 21px !important
    
    &__title
      font-size: 26px

    &__items
      h5, p
        font-size: 14px !important
        line-height: 1.5 !important

@media only screen and (min-width: 1366px)
  .qualities
    padding: 144px 0 120px 0

    .check-point-wrapper
      padding-top: 10px
    
    .row
      margin-right: -25px !important
      margin-left: -25px  !important

    [class*='col-']
      padding-right: 25px !important
      padding-left: 25px  !important
    
    div
      p
        margin-bottom: 30px !important
    
    &__title
      font-size: 34px
      padding-bottom: 40px !important

    &__items
      img        
        max-height: 178px
        margin-bottom: 40px
      h5
        margin-bottom: 20px
      h5, p
        font-size: 20px
        line-height: 1.5 !important

