@media only screen and (min-width: 1024px)
  .qualities
    padding-top: 120px
    padding-bottom: 120px

    .check-point-wrapper
      padding-top: 10px

    [class*='col-']
      padding: 0 30px 0 20px !important
      &:first-child
        padding-left: 0 !important
      &:last-child
        padding-right: 0 !important

    &__items
      .heading-x-small
        margin-bottom: 20px
        font-size: 20px
        font-weight: bold
        line-height: 1.5

    &__main-content
      display: flex
      p
        font-size: 20px
        line-height: 1.45
    
    &__item-flex
      display: flex
      text-align
      p
        margin: 0
        padding-left: 20px
        margin-bottom: 40px !important
      p.bottom-line
        margin-bottom: 0 !important

    &__title
      font-size: 36px
      text-align: center
      padding-bottom: 2.9vw !important
