@import '../../styles/variables.sass'

.header-group
  display: flex
  border-bottom: 1px solid $slightGray
  justify-content: center

.header
  cursor: pointer

  p
    color: $litleGray
    padding: 0 5px

.frontend-title
  border-bottom: 1px solid $yellow
  p
    color: $black

.tab-header-title
  padding-bottom: 10px

.tech-tab
  .right-side
    display: grid
    grid-template: repeat(4, auto) / repeat(3, auto)
    justify-content: space-between
    grid-row-gap: 20px
    img
      width: auto
    
.tab-content-container
  padding-top: 30px

.header-active-true
  border-bottom: 1px solid $darkYellow
  p
    color: $darkGray

@media only screen and (min-width: 1023px)
  .header-group
    display: flex
    justify-content: center

  .tab-content-container
    padding-top: 50px

  .tech-tab
    display: flex

    &__logo-wrapper
      display: flex
      align-items: center
      img
        margin-right: 20px
      p
        font-size: 18px

    &__description
      color: $softBlack

    .tab-header-title
      padding-bottom: 10px

    &__left-side
      flex: 1
      padding-right: 50px
      p
        line-height: 30px

    .right-side
      display: grid
      grid-template: repeat(2, auto) / repeat(3, auto)
      justify-content: space-between
      grid-row-gap: 60px
      > div
        text-align: center

  .tab-header
    p
      padding: 20px
      color: $litleGray

@media (min-width: 768px) and (max-width: 1023px)
  .header
    padding: 0 18px 23px 18px

  .tech-tab
    display: flex

    &__description
      color: $softBlack
      font-size: 12px
      line-height: 1.5

    &__logo-name
      font-size: 10px
    
    .right-side
      padding-left: 27px! important

    &__logo-wrapper
      display: flex
      align-items: center
      img
        margin-right: 22px

  .tab-content-container
    padding-top: 53px
    padding-bottom: 64px
  
  .right-side
    display: grid
    grid-template: repeat(2, auto) / repeat(3, auto)
    justify-content: space-between
    padding-top: 32px
    grid-row-gap: 32px
    > div
      text-align: center
    img
      height: 21px


@media (min-width: 1024px) and (max-width: 1365px)
  .header
    padding: 0 24px 31px 24px

  .tech-tab
    display: flex

    &__description
      color: $softBlack
      font-size: 14px
      line-height: 1.5

    &__logo-name
      font-size: 12px
    
    .right-side
      padding-left: 36px! important

    &__logo-wrapper
      display: flex
      align-items: center
      img
        margin-right: 30px

  .tab-content-container
    padding-top: 71px
    padding-bottom: 85px

  .right-side
    display: grid
    grid-template: repeat(2, auto) / repeat(3, auto)
    justify-content: space-between
    padding-top: 36px
    grid-row-gap: 43px
    > div
      text-align: center
    img
      height: 28px

@media only screen and (min-width: 1366px)
  .header
    padding: 0 34px 44px 34px

  .tech-tab
    display: flex

    &__description
      color: $softBlack
      font-size: 20px
      line-height: 1.5

    &__logo-name
      font-size: 18px
    
    .right-side
      padding-left: 50px! important

    &__logo-wrapper
      display: flex
      align-items: center
      img
        margin-right: 42px

  .tab-content-container
    padding-top: 100px
    padding-bottom: 120px
  
  .right-side
    display: grid
    grid-template: repeat(2, auto) / repeat(3, auto)
    justify-content: space-between
    padding-top: 50px
    grid-row-gap: 60px
    > div
      text-align: center
