@import '../../styles/variables.sass'

.header-group
  display: flex
  border-bottom: 1px solid $slightGray
  justify-content: space-between

.header
  padding-bottom: 44px
  cursor: pointer

  p
    color: $litleGray
    padding: 0 5px

.frontend-title
  border-bottom: 1px solid $yellow
  p
    color: $black

.tab-header-title
  padding-bottom: 10px

.tech-tab
  &__right-side
    display: grid
    grid-template: repeat(4, auto) / repeat(3, auto)
    justify-content: space-between
    padding-top: 50px
    grid-row-gap: 20px

.content
  height: 410px

.tab-content-container
  padding-top: 30px

.header-active-true
  border-bottom: 1px solid $darkYellow
  p
    color: $darkGray

@media only screen and (min-width: 1023px)
  .header-group
    display: flex
    justify-content: center

  .tab-content-container
    padding-top: 50px

  .content
    padding-left: 50px
    padding-right: 50px

  .header
    p
      padding: 0 40px

  .tech-tab
    display: flex

    &__logo-wrapper
      display: flex
      align-items: center
      img
        margin-right: 20px
      p
        font-size: 18px

    &__description
      color: $softBlack

    .tab-header-title
      padding-bottom: 10px

    &__left-side
      flex: 1
      padding-right: 50px
      p
        line-height: 30px

    &__right-side
      flex: 1
      display: grid
      grid-template: repeat(2, auto) / repeat(3, auto)
      justify-content: space-between
      grid-row-gap: 60px
      > div
        text-align: center

  .tab-header
    p
      padding: 20px
      color: $litleGray

@media only screen and (min-width: 1300px)
  .tech-tab
    display: flex

    .tab-header-title
      font-size: 36px
      padding-bottom: 20px

    &__description
      color: $softBlack

    &__left-side
      padding-right: 135px

    &__logo-name
      font-size: 18px

  .content
    padding-left: 100px
    padding-right: 100px

  .tab-content-container
    padding-top: 100px

  .header-group
    margin-left: 100px
    margin-right: 100px
