@import '../../styles/variables'
@import '../../styles/mixins'

.header-group
  display: flex
  border-bottom: 1px solid $slightGray
  justify-content: center

.header
  cursor: pointer
  @include responsive($screen: mobile)
    padding: 0 8.5px 10px 8.5px
  @include responsive($screen: tablet)
    padding: 0 18px 23px 18px
  @include responsive($screen: desktop)
    padding: 0 24px 31px 24px
  @include responsive($screen: large-desktop)
    padding: 0 34px 44px 34px

  p
    color: $litleGray

.frontend-title
  border-bottom: 1px solid $yellow
  p
    color: $black

.tech-tab
  display: flex
  .right-side
    display: grid
    grid-template: repeat(2, auto) / repeat(3, auto)
    justify-content: space-between
    @include responsive($screen: mobile)
      padding-top: 40px !important
      grid-row-gap: 30px
    @include responsive($screen: tablet)
      padding-top: 27px
      grid-row-gap: 32px
      padding-left: 27px! important
    @include responsive($screen: desktop)
      padding-top: 34px
      grid-row-gap: 43px
      padding-left: 36px! important
    @include responsive($screen: large-desktop)
      padding-top: 50px
      grid-row-gap: 60px
      padding-left: 50px! important
    > div
      text-align: center
    img
      width: auto
      max-width: 100%
      @include responsive($screen: mobile)
        max-height: 30px
      @include responsive($screen: tablet)
        max-height: 21px
      @include responsive($screen: desktop)
        max-height: 28px
      @include responsive($screen: large-desktop)
        max-height: 40px

  &__logo-name
    @include responsive($screen: mobile)
      font-size: 14px
      line-height: 2.14
    @include responsive($screen: tablet)
      font-size: 10px
    @include responsive($screen: desktop)
      font-size: 12px
    @include responsive($screen: large-desktop)
      font-size: 18px

  &__description
    color: $softBlack
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 16px
    @include responsive($screen: tablet)
      font-size: 12px
    @include responsive($screen: desktop)
      font-size: 14px
    @include responsive($screen: large-desktop)
      font-size: 20px

  &__logo-wrapper
    display: flex
    align-items: center
    .image-wrapper
      @include responsive($screen: mobile)
        width: 34px
        margin-right: 8px
      @include responsive($screen: tablet)
        width: 24px
        margin-right: 11px
      @include responsive($screen: desktop)
        width: 32px
        margin-right: 14px
      @include responsive($screen: large-desktop)
        width: 45px
        margin-right: 20px

.tab-content-container
  @include responsive($screen: mobile)
    padding-top: 40px
    padding-bottom: 50px
  @include responsive($screen: tablet)
    padding-top: 53px
    padding-bottom: 80px
  @include responsive($screen: desktop)
    padding-top: 71px
    padding-bottom: 107px
  @include responsive($screen: large-desktop)
    padding-top: 100px
    padding-bottom: 150px

.header-active-true
  border-bottom: 1px solid $darkYellow
  p
    color: $darkGray
