@import '../../../../styles/variables.sass'

.technology-description
  &__left-side
    h2
      line-height: 1.2
    p
      line-height: 1.54;

@media (min-width: 768px) and (max-width: 1365px)
  .technology-description
    padding: 8.3vw 0 13.3vw 0

    &__left-side
      h2
        font-size: 35px
        padding-bottom: 3vw
      p
        font-size: 18px;

    &__right-side
      margin-right: -70px
      img
       max-width: 32.7vw

@media only screen and (min-width: 1366px)
  .technology-description
    padding: 119px 0 192px 0

    &__left-side
      h2
        font-size: 50px
        padding-bottom: 43px
      p
        font-size: 26px;

    &__right-side
      margin-right: -100px
      img
       max-width: 471px

