@import 'styles/variables'
@import 'styles/mixins'

.technology-description
  @include responsive($screen: mobile)
    padding: 30px 0 75.1px 0
  @include responsive($screen: tablet)
    padding: 63px 0 102px 0
  @include responsive($screen: desktop)
    padding: 85px 0 137px 0
  @include responsive($screen: large-desktop)
    padding: 119px 0 192px 0

  &__left-side
    h2
      line-height: 1.2
      text-transform: uppercase
      @include responsive($screen: mobile)
        text-transform: capitalize
        font-size: 28px
        padding-bottom: 21px
      @include responsive($screen: tablet)
        font-size: 27px
        padding-bottom: 23px
      @include responsive($screen: desktop)
        font-size: 35px
        padding-bottom: 31px
      @include responsive($screen: large-desktop)
        font-size: 50px
        padding-bottom: 43px
    p
      line-height: 1.54
      @include responsive($screen: mobile)
        line-height: 1.5
        font-size: 16px
        padding-bottom: 30px
      @include responsive($screen: tablet)
        font-size: 14px
      @include responsive($screen: desktop)
        font-size: 18px
      @include responsive($screen: large-desktop)
        font-size: 26px

  &__right-side
    @include responsive($screen: mobile)
      margin-right: -15px
    @include responsive($screen: tablet)
      margin-right: -50px
    @include responsive($screen: desktop)
      margin-right: -70px
    @include responsive($screen: large-desktop)
      margin-right: -100px
    img
      @include responsive($screen: mobile)
        width: 83.6%
      @include responsive($screen: tablet)
        max-width: 221px
      @include responsive($screen: desktop)
        max-width: 335px
      @include responsive($screen: large-desktop)
        max-width: 471px
