@import '../../styles/variables.sass'

.technology-description
  background-color: $slightOrange
  padding: 50px 30px

  h2
    text-transform: uppercase

  img
    width: 100%

  &__left-side
    padding-bottom: 20px

@media only screen and (min-width: 1023px)
  .technology-description
    padding: 100px 0 0 50px
    display: flex

    p:last-child
      padding-top: 20px

    &__left-side
      padding-right: 20px
      flex: 1

    &__right-side
      flex: 1
      display: flex
      justify-content: flex-end
      img
        width: 300px

@media only screen and (min-width: 1300px)
  .technology-description
    padding: 100px 0 0 100px

    p:last-child
      padding-top: 40px

    &__left-side
      padding-right: 0

    &__right-side
      img
        width: 478px
