@import '../../styles/variables.sass'

.service
  padding: 0 30px

  .main-header, .home-back
    padding-left: 0
    padding-right: 0

  p
    line-height: 30px

  &__grid
    display: flex
    flex-direction: column
    align-items: center

  &__grid-item
    margin-bottom: 50px
    border: 1px solid $slightGray
    border-radius: 8px
    width: 100%
    display: flex
    align-items: center
    font-size: 16px
    padding: 10px

  .main-header, .sub-header
    background-color: $white

  &__top-content
    padding-top: 100px

  &__web-image
    width: 100%
    margin: 30px 0 0 0

  &__images-wrapper
    padding: 30px 0
    display: grid
    grid-template: repeat(2, auto) / repeat(4, auto)
    grid-row-gap: 20px
    img
      width: 50px

  &__paragraph-container
    padding-top: 50px

  &__paragraph-flex-item
    padding-bottom: 30px
    p
      line-height: 30px

  &__other-services-container
    padding-top: 50px
    h2
      padding-bottom: 30px

  &__logos-flex-container
    border-bottom: 1px solid $slightGray

@media only screen and (min-width: 700px)
  .service

    &__grid
      display: grid
      grid-template: repeat(2, auto) / repeat(2, auto)

    &__images-wrapper
      grid-template: repeat(2, auto) / repeat(4, auto)
      img
        width: initial

    &__grid-item
      display: flex
      align-items: center
      padding: 20px
      width: initial
      &:nth-child(1), &:nth-child(3)
        margin-right: 50px
      img
        height: 120px
        width: 150px

@media only screen and (min-width: 1023px)
  .service
    padding: 0

    .main-header, .home-back
      padding-left: 50px
      padding-right: 50px

    p
      line-height: 30px

    &__gray-bg
      margin-top: 150px
      background-color: $softGray
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding-bottom: 170px

      img
        position: relative
        bottom: 165px
        padding: 0 50px

    &__gray-bg-text
      position: relative
      bottom: 100px

    &__other-services-container
      padding-left: 50px
      padding-right: 50px

    &__logo-container
      display: flex

    &__logos-flex-container
      display: flex
      padding-top: 60px
      padding-bottom: 60px
      margin-left: 50px
      margin-right: 50px
      position: relative
      bottom: 90px
      background-color: $white
      p
        flex: 1
        border-left: 1px solid $slightGray
        padding-left: 30px
        padding-right: 30px

    &__images-wrapper
      flex: 2
      display: grid
      grid-template: repeat(2, auto) / repeat(4, auto)
      grid-row-gap: 50px
      align-items: center
      justify-content: space-between
      padding-left: 30px
      padding-right: 30px

    &__logo-amazone
      width: 120px !important

    &__paragraph-flex-item
      display: flex
      width: 60%
      margin: 0 auto
      padding-top: 50px
      h2
        flex: 2
        padding-right: 80px
        line-height: 40px
        text-align: right
      p
        flex: 4

    &__introduction:last-child
      padding-top: 20px
      width: 83%

    &__other-services-title
      color: $darkGray
      padding-bottom: 50px

    &__short-intro
      width: 60%

    &__single-padding
      padding-left: 50px
      padding-right: 50px

    &__images-wrapper
      padding-top: 0
      padding-bottom: 0

    &__paragraph-container
      padding-top: 0

@media only screen and (min-width: 1300px)
  .service
    .main-header, .home-back
      padding-left: 100px
      padding-right: 100px
    p
      line-height: 40px

    &__grid-item-title
      padding-left: 40px

    &__gray-bg
      img
        padding: 0 100px

    &__logos-flex-container
      margin-left: 100px
      margin-right: 100px
      p
        padding-right: 60px

    &__single-padding
      padding-left: 100px
      padding-right: 100px

    &__other-services-container
      padding: 150px 100px
      h2
        padding-bottom: 60px

    &__paragraph-flex-item
      h2
        flex: 2
        font-size: 36px
      p
        flex: 5

    &__short-intro
      width: 73%

    &__introduction:last-child
      width: 80%
      padding-top: 38px

    &__images-wrapper
      padding-left: 160px
      padding-right: 43px
