@import '../../styles/variables.sass'

.about-us
  padding: 50px 30px 0 30px

  img
    width: 100%
    margin-top: 20px

@media only screen and (min-width: 1023px)
  .about-us
    display: flex
    padding: 50px 50px 0 50px

    img
      margin-top: 0

    &__left-side
      padding-right: 50px
      flex: 1

    &__right-side
      flex: 1
      display: flex
      justify-content: flex-end

    &__text
      width: 90%
      &:last-child
        padding-top: 30px

@media only screen and (min-width: 1300px)
  .about-us
    padding: 100px 100px 0 100px
    img
      height: 650px
