@import '../../styles/variables.sass'

.about-us
  background-color: $slightOrange

@media only screen and (min-width: 1024px)
  .about-us
    height: calc((2/3)*100%) !important
    display: flex
    padding-top: 120px
    over-flow: hidden
    height: 870px

    &__left-side
      padding-right: 50px
      flex: 1
      h2
        height: 60px
        font-size: 50px
        line-height: 1.2
        margin-bottom: 42px

      p
        height: 400px
        font-size: 26px
        line-height: 1.54

    &__right-side
      padding-left: 115px !important
      overflow: inherit
      img
        width: 652px
        height: 648px
    
