@import '../../styles/variables.sass'

.sub-header
  background-color: $slightOrange
  padding: 0 100px
  justify-content: flex-end
  align-items: center
  position: relative
  font-size: 14px
  font-family: ProximaNovaBold
  display: none

  h4
    letter-spacing: .5px
    margin-top: 0
    margin-bottom: 0

  &__title
    padding-right: 45px

  &__contact-wrapper
    display: flex
    align-items: center
    background-color: $yellow
    padding: 10px 15px

  &__contact-title
    white-space: nowrap

@media only screen and (min-width: 1023px)
  .sub-header
    display: flex
    padding-left: 50px
    padding-right: 50px

@media only screen and (min-width: 1400px)
  .sub-header
    padding-left: 100px
    padding-right: 100px

    &__text
      font-size: 16px
