@import '../../styles/variables.sass'
.portfolio-details

  &__body
    h1
      color: $solidBlack
    
    &__next-project
      background-color: #24272C
      h3, p
        color: $white
      h3
        line-height: 1.67
      p
        line-height: 1.5

    &__item-title
      text-align: right
      line-height: 1.67
    
    &__item-content
      line-height: 1.5
      color: $softBlack
    
    ul
      padding-inline-start: 0
      > li
        &:before
          content: '•'
  
    .no-margin-bottom
      margin-bottom: 0

    img
      width: 100%

@media (min-width: 768px) and (max-width: 1023px)
  .portfolio-details
    &__body
      padding-top: 42px
      padding-bottom: 80px
      .row
        margin: 0 -15px !important

      [class*='col']
        padding-left: 15px !important
        padding-right: 15px !important
      
      .col-md-6
        &:nth-child(2n)
          padding-left: 25px !important
        &:nth-child(2n+1)
          padding-right: 25px !important
        
      h1
        font-size: 30px
        padding-bottom: 42px

      &__cover
        padding-bottom: 53px

      &__first-paragraph
        margin-bottom: 32px
      
      &__second-paragraph
        margin-bottom: 48px
      
      &__third-paragraph
        margin-top: 11px
        margin-bottom: 69px
      
      &__next-project
        padding: 42px
        h3
          font-size: 19px
        p
          font-size: 12px

      &__item-title
        font-size: 19px
      
      &__item-content
        font-size: 12px
        width: 264px !important
        margin-right: 85px
        margin-left: 42px

      ul > li
        &:before
          font-size: 13px
          padding-right: 21px
          padding-bottom: 5px

      &__image
        padding-bottom: 42px

@media (min-width: 1024px) and (max-width: 1365px)
  .portfolio-details
    &__body
      padding-top: 57px
      padding-bottom: 107px
      .row
        margin: 0 -15px !important

      [class*='col']
        padding-left: 15px !important
        padding-right: 15px !important
      
      .col-md-6
        &:nth-child(2n)
          padding-left: 25px !important
        &:nth-child(2n+1)
          padding-right: 25px !important
        
      h1
        font-size: 38px
        padding-bottom: 57px

      &__cover
        padding-bottom: 71px

      &__first-paragraph
        margin-bottom: 43px
      
      &__second-paragraph
        margin-bottom: 64px
      
      &__third-paragraph
        margin-top: 14px
        margin-bottom: 92px
      
      &__next-project
        padding: 57px
        h3
          font-size: 24px
        p
          font-size: 14px

      &__item-title
        font-size: 24px
      
      &__item-content
        font-size: 14px
        width: 352px !important
        margin-right: 114px
        margin-left: 57px

      ul > li
        &:before
          font-size: 17px
          padding-right: 28px
          padding-bottom: 7px

      &__image
        padding-bottom: 57px

@media only screen and (min-width: 1366px)
  .portfolio-details
    &__body
      padding-top: 80px
      padding-bottom: 150px
      .row
        margin: 0 -25px !important

      [class*='col']
        padding-left: 25px !important
        padding-right: 25px !important
      
      .col-md-6
        &:nth-child(2n)
          padding-left: 40px !important
        &:nth-child(2n+1)
          padding-right: 40px !important
        
      h1
        font-size: 60px
        padding-bottom: 80px

      &__cover
        padding-bottom: 100px

      &__first-paragraph
        margin-bottom: 60px
      
      &__second-paragraph
        margin-bottom: 90px
      
      &__third-paragraph
        margin-top: 20px
        margin-bottom: 130px
      
      &__next-project
        padding: 80px
        h3
          font-size: 36px
        p
          font-size: 20px

      &__item-title
        font-size: 36px
      
      &__item-content
        font-size: 20px
        width: 495px !important
        margin-right: 160px
        margin-left: 80px

      ul > li
        &:before
          font-size: 24px
          padding-right: 40px
          padding-bottom: 10px

      &__image
        padding-bottom: 80px
