@import 'styles/mixins'

.archieves
  background-color: #f8f8f8
  text-align: center
  @include responsive($screen: mobile)
    padding: 50px 0
  @include responsive($screen: tablet)
    padding: 43px 0
  @include responsive($screen: desktop)
    padding: 57px 0
  @include responsive($screen: large-desktop)
    padding: 60px 0

  &__title
    @include responsive($screen: mobile)
      font-size: 16px
      line-height: 1.5
    @include responsive($screen: tablet)
      font-size: 12px
      line-height: 1.34
    @include responsive($screen: desktop)
      font-size: 14px
      line-height: 1.5
    @include responsive($screen: large-desktop)
      font-size: 18px
      line-height: 1.5

  &__main-content
    @include responsive($screen: mobile)
      padding-top: 10px
    @include responsive($screen: tablet)
      padding-top: 5px
    @include responsive($screen: desktop)
      padding-top: 7px
    @include responsive($screen: large-desktop)
      padding-top: 10px

  &__item
    @include responsive($screen: mobile)
      padding-top: 30px !important
    @include responsive($screen: tablet)
      padding-top: 16px !important
    @include responsive($screen: desktop)
      padding-top: 21px !important
    @include responsive($screen: large-desktop)
      padding-top: 30px !important
    h2
      font-family: ProximaNovaBold
      @include responsive($screen: mobile)
        font-size: 28px
        padding-bottom: 10px
      @include responsive($screen: tablet)
        font-size: 26px
        padding-bottom: 5px
      @include responsive($screen: desktop)
        font-size: 34px
        padding-bottom: 7px
      @include responsive($screen: large-desktop)
        font-size: 50px
        padding-bottom: 10px
    p
      line-height: 1.5
      @include responsive($screen: mobile)
        font-size: 16px
      @include responsive($screen: tablet)
        font-size: 12px
      @include responsive($screen: desktop)
        font-size: 14px
      @include responsive($screen: large-desktop)
        font-size: 18px