@import '../../styles/variables.sass'

.success
  background-color: $softGray

  &__map
    width: 100%

  &__title
    border-bottom: 4px solid $darkGray

  &__paragraph
    padding-top: 20px

@media only screen and (min-width: 1368px)
  .success
    padding-top: 100px
    padding-bottom: 100px
    
    &__sum
      padding-top: 80px
      .col-md-6
        h3
          font-size: 34px
          border-bottom : 0.3vw solid $darkGray
          padding-bottom: 20px
        p
          font-size: 20px
          line-height: 1.5;
        &:nth-child(2n)
          padding-right: 0
        &:nth-child(2n+1)
          padding-left: 0
          padding-right: 7.8vw !important
        &:not(:last-child):not(:nth-last-child(2))
          padding-bottom: 50px
    
    &__map
      padding-top: 60px
    
    &__main
      h1
        font-size: 50px
      p
        height: 1100px
        font-size: 26px
        line-height: 1.54
