@import '../../styles/variables.sass'

.work
  padding: 50px 0
  border-bottom: 1px solid $slightGray

  img
    width: 100%

  &__two, &__five, &__six
    padding: 30px

  &__six
    background-color: $slightOrange

  .box
    padding-top: 20px
    padding-bottom: 20px

  p
    line-height: 30px

  &__bottom-container
    padding-top: 30px
    padding-left: 30px

  &__flex-item
    > div
      padding-top: 30px

@media only screen and (min-width: 1023px)
  .work
    padding-bottom: 100px

    p, h3
      line-height: 40px
      font-size: 20px

    h2
      font-size: 34px
      padding-bottom: 20px

    h3
      padding-bottom: 20px

    .box
      padding-top: 0
      padding-bottom: 0

    &__six.box
      padding-top: 50px
      padding-bottom: 50px
      h2
        text-align: center

    &__top-container
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: repeat(4, auto)
      img
        width: 100%
        height: 100%
        object-fit: cover

    &__one
      grid-column: 1 / span 4

    &__two
      grid-column: 1 / span 2
      align-self: center
      padding: 50px

    &__three
      grid-column: 3 / span 2

    &__four
      grid-column: 1 / span 2

    &__five
      grid-column: 3 / span 2
      align-self: center
      padding: 50px

    &__six
      grid-column: 1 / span 4
      align-self: center
      padding: 100px 0
      p, h3
        width: 70%
        text-align: center
        margin: 0 auto

    &__bottom-container
      display: flex
      flex-direction: column
      justify-content: center
      padding-left: 50px
      padding-right: 50px

      p
        font-size: 20px

      > div
        display: flex
        justify-content: center
        text-align: center
        padding-top: 50px
        div
          max-width: 500px

    &__flex-item-last
      padding: 0 50px

@media only screen and (min-width: 1400px)
  .work
    &__bottom-container
      padding-left: 90px
      padding-right: 90px

    &__two, &__five
      padding: 0 100px
