@import '../../../../styles/variables.sass'

.technology-cards
    background-color: $softGray

    &__card
        background-color: $white
        h4
            line-height: 1.25

@media (min-width: 768px) and (max-width: 1023px)
    .technology-cards
        padding: 83px 0 80px 0

        .row
            margin-left: -15px !important
            margin-right: -15px !important

        [class*='col']
            padding-left: 15px !important
            padding-right: 15px !important

        &__card
            padding: 32px 27px
            h4
                font-size: 13px
            p
                font-size: 12px
                padding-top: 11px

@media (min-width: 1024px) and (max-width: 1365px)
    .technology-cards
        padding: 110px 0 107px 0

        .row
            margin-left: -15px !important
            margin-right: -15px !important

        [class*='col']
            padding-left: 15px !important
            padding-right: 15px !important

        &__card
            padding: 43px 36px
            h4
                font-size: 15px
            p
                font-size: 14px
                padding-top: 14px

@media only screen and (min-width: 1366px)
    .technology-cards
        padding: 155px 0 150px 0

        .row
            margin-left: -25px !important
            margin-right: -25px !important

        [class*='col']
            padding-left: 25px !important
            padding-right: 25px !important

        &__card
            padding: 60px 50px
            h4
                font-size: 24px
            p
                font-size: 20px
                padding-top: 20px
