@import '../../../../styles/variables'
@import '../../../../styles/mixins'

.technology-cards
    background-color: $softGray
    @include responsive($screen: mobile)
        padding-bottom: 50px
        margin-bottom: 50px
    @include responsive($screen: tablet)
        padding: 83px 0 80px 0
    @include responsive($screen: desktop)
        padding: 110px 0 107px 0
    @include responsive($screen: large-desktop)
        padding: 155px 0 150px 0

    .row
        @include responsive($screen: mobile)
        @include responsive($screen: tablet)
            margin-left: -15px !important
            margin-right: -15px !important
        @include responsive($screen: desktop)
            margin-left: -15px !important
            margin-right: -15px !important
        @include responsive($screen: large-desktop)
            margin-left: -25px !important
            margin-right: -25px !important

    [class*='col']
        @include responsive($screen: mobile)
        @include responsive($screen: tablet)
            padding-left: 15px !important
            padding-right: 15px !important
        @include responsive($screen: desktop)
            padding-left: 15px !important
            padding-right: 15px !important
        @include responsive($screen: large-desktop)
            padding-left: 25px !important
            padding-right: 25px !important

    &__card
        background-color: $white
        @include responsive($screen: mobile)
            margin-top: 40px
            padding: 30px 20px
        @include responsive($screen: tablet)
            padding: 32px 27px
        @include responsive($screen: desktop)
            padding: 43px 36px
        @include responsive($screen: large-desktop)
            padding: 60px 50px
        h4
            line-height: 1.25
            @include responsive($screen: mobile)
                font-size: 18px
                line-height: 1.34
            @include responsive($screen: tablet)
                font-size: 13px
            @include responsive($screen: desktop)
                font-size: 15px
            @include responsive($screen: large-desktop)
                font-size: 24px
        p
            @include responsive($screen: mobile)
                font-size: 16px
                margin-top: 20px
            @include responsive($screen: tablet)
                font-size: 12px
                padding-top: 11px
            @include responsive($screen: desktop)
                font-size: 14px
                padding-top: 14px
            @include responsive($screen: large-desktop)
                font-size: 20px
                padding-top: 20px
