@import 'styles/variables'
@import 'styles/mixins'

.stats-summary
  @include responsive($screen: mobile)
    padding: 0 0 50px 0
  @include responsive($screen: tablet)
    padding: 0 0 50px 0
  @include responsive($screen: desktop)
    padding: 0 0 70px 0
  @include responsive($screen: large-desktop)
    padding: 0 0 100px 0

  &__image-wrapper
    @include responsive($screen: mobile)
      padding-left: 25px
      padding-right: 25px
      margin-bottom: 40px
    @include responsive($screen: tablet)
      padding-left: 53px
      padding-right: 52px
    @include responsive($screen: desktop)
      padding-left: 74px
      padding-right: 73px
    @include responsive($screen: large-desktop)
      padding-left: 105px
      padding-right: 105px

  &__paragraph
    height: 100%
    display: flex
    p
      line-height: 1.5
      margin: auto 0
      @include responsive($screen: mobile)
        font-size: 16px
      @include responsive($screen: tablet)
        padding-left: 35px
        padding-right: 21px
        font-size: 14px
      @include responsive($screen: desktop)
        padding-left: 46px
        padding-right: 28px
        font-size: 18px
      @include responsive($screen: large-desktop)
        padding-left: 65px
        padding-right: 40px
        font-size: 24px