@import '../../../../styles/variables'
@import '../../../../styles/mixins'

.stats-summary
  @include responsive($screen: mobile)
    padding: 0 0 50px 0
  @include responsive($screen: tablet)
    padding: 0 0 80px 0
  @include responsive($screen: desktop)
    padding: 0 0 107px 0
  @include responsive($screen: large-desktop)
    padding: 0 0 150px 0

  &__image-wrapper
    @include responsive($screen: mobile)
      padding-left: 25px
      padding-right: 25px
      margin-bottom: 40px
    @include responsive($screen: tablet)
      padding-left: 56px
      padding-right: 56px
    @include responsive($screen: desktop)
      padding-left: 75px
      padding-right: 75px
    @include responsive($screen: large-desktop)
      padding-left: 105px
      padding-right: 105px

  &__paragraph
    @include responsive($screen: mobile)
    @include responsive($screen: tablet)
      padding: 12px 0 12px 0
    @include responsive($screen: desktop)
      padding: 16px 0 16px 0
    @include responsive($screen: large-desktop)
      padding: 23px 0 23px 0
    p
      line-height: 1.54
      @include responsive($screen: mobile)
        line-height: 1.5
        font-size: 16px
      @include responsive($screen: tablet)
        padding-left: 35px
        padding-right: 21px
        font-size: 14px
      @include responsive($screen: desktop)
        padding-left: 46px
        padding-right: 28px
        font-size: 18px
      @include responsive($screen: large-desktop)
        padding-left: 65px
        padding-right: 40px
        font-size: 26px