@import '../../styles/variables.sass'

.services-detail

@media only screen and (min-width: 1368px)
  .services-detail
    padding-top: 150px
    align-items: start

    &__links
      padding-bottom: 150px
      
    .col-md-4
      padding-top: 130px
      &:nth-child(3n+1)
        padding-left: 0 !important
      &:nth-child(3n)
        padding-right: 0 !important
      &:nth-child(1), &:nth-child(2), &:nth-child(3)
        padding-top: 0
    
    .col-md-6
      .card
        text-align: center
        background-color: $white
        border: none
        padding: 4.2vw 50px
      h4
        font-size: 24px
        line-height: 1.25
      p
        font-size: 20px
        line-height: 1.5
      &:last-child
        padding-left: 25px
        h4
          padding: 0 5vw 1.4vw72px
      &:first-child
        padding-right: 25px
        h4
          padding: 0 8.1vw 1.4vw 117px

    .img-wrapper
      display: flex
      justify-content: center
      -o-object-fit: contain
      object-fit: contain
      width: 100%
      margin-bottom: 40px

    &__paragraphs
      padding: 150px 100px !important
      margin-left: -100px !important
      margin-right: -100px !important
      padding
      background-color: $softGray !important

    img
      height: 1120px
      transition: transform .3s
      &:hover
        transform: scale(1.15)
      &:last-child
        height: 220px
    
    .card-content
      width: 250px
      font-size: 20px
      line-height: 1.5;
      h5
        margin-bottom: 13px
