@import '../../styles/variables.sass'

.services-detail
  &__main-content
    padding: 0 30px

  p
    line-height: 30px

  &__paragraphs
    padding: 0 30px
    > div
      padding-top: 30px

@media only screen and (min-width: 1023px)
  .services-detail
    &__main-content
      padding: 50px

    &__top-content
      display: grid
      grid-template-columns: repeat(3, auto)
      justify-content: space-between
      grid-gap: 80px

    &__bottom-content
      display: grid
      grid-template-columns: repeat(2, auto)
      justify-content: center
      grid-gap: 80px
      margin-top: 130px

    &__flex-item
      display: flex
      flex-direction: column
      img
        height: 300px
        transition: transform .2s
        margin-bottom: 40px
        &:hover
          transform: scale(1.1)
      p
        color: $softBlack

    &__paragraphs
      padding: 100px 50px
      display: flex
      background-color: $softGray
      align-items: center

      > div
        background-color: $white
        padding: 50px
        text-align: center

      > div:first-child
        margin-right: 25px

      > div:last-child
        margin-left: 25px

      .heading-small
        padding-left: 50px
        padding-right: 50px

@media only screen and (min-width: 1300px)
  .services-detail
    padding-top: 100px

    &__main-content
      padding: 50px 100px 150px 100px

    &__bottom-content
      grid-template-columns: repeat(2, 350px)

    &__paragraphs
      padding: 150px 100px
