@import '../../../../styles/variables.sass'

.services-detail
  align-items: start
    
  .col-md-4
    &:nth-child(1), &:nth-child(2), &:nth-child(3)
      padding-top: 0

  .img-wrapper
    display: flex
    justify-content: center
    -o-object-fit: contain
    object-fit: contain

  img
    transition: transform .3s
    &:hover
      transform: scale(1.15)
  
  .card-content
    line-height: 1.5;

@media (min-width: 768px) and (max-width: 1023px)
  .services-detail
    padding-top: 80px

    &__links
      padding-bottom: 80px
      
    .col-md-4
      padding-top: 69px
    
    .img-wrapper
      margin-bottom: 21px

    img
      &:last-child
        height: 117px
    
    .card-content
      width: 187px
      font-size: 12px
      h5
        margin-bottom: 7px


@media (min-width: 1024px) and (max-width: 1365px)
  .services-detail
    padding-top: 107px

    &__links
      padding-bottom: 107px
      
    .col-md-4
      padding-top: 92px
    
    .img-wrapper
      margin-bottom: 28px

    img
      &:last-child
        height: 156px
    
    .card-content
      width: 249px
      font-size: 14px
      h5
        margin-bottom: 9px

@media only screen and (min-width: 1366px)
  .services-detail
    padding-top: 150px

    &__links
      padding-bottom: 150px
      
    .col-md-4
      padding-top: 130px
    
    .img-wrapper
      margin-bottom: 40px

    img
      &:last-child
        height: 220px
    
    .card-content
      width: 350px
      font-size: 20px
      h5
        margin-bottom: 13px
