@import 'styles/variables'
@import 'styles/mixins'

.services-detail
  align-items: start
  @include responsive($screen: mobile)
    padding-top: 10.4px
    padding-bottom: 50px
  @include responsive($screen: tablet)
    padding: 50px 0
  @include responsive($screen: desktop)
    padding: 70px 0
  @include responsive($screen: large-desktop)
    padding: 100px 0

  .img-wrapper
    display: flex
    justify-content: center
    -o-object-fit: contain
    object-fit: contain
    @include responsive($screen: mobile)
      margin-bottom: 40px
    @include responsive($screen: tablet)
      margin-bottom: 20px
    @include responsive($screen: desktop)
      margin-bottom: 28px
    @include responsive($screen: large-desktop)
      margin-bottom: 40px

  .link-wrapper
    @include responsive($screen: mobile)
      margin-top: 40px !important
    @include responsive($screen: tablet)
      margin-top: 29px
    @include responsive($screen: desktop)
      margin-top: 41px
    @include responsive($screen: large-desktop)
      margin-top: 58px
    &:nth-child(1), &:nth-child(2), &:nth-child(3)
      margin-top: 0
    &:hover
      transform: scale(1.1)

  img
    transition: transform .3s
    @include responsive($screen: mobile)
      height: 196px
    @include responsive($screen: tablet)
      height: 132px
    @include responsive($screen: desktop)
      height: 185px
    @include responsive($screen: large-desktop)
      height: 264px

  #go-development-team
    @include responsive($screen: mobile)
    @include responsive($screen: tablet)
      margin-top: 22px
      height: 110px
    @include responsive($screen: desktop)
      margin-top: 30px
      height: 155px
    @include responsive($screen: large-desktop)
      margin-top: 44px
      height: 220px

  .card-content
    line-height: 1.5
    width: 87.5%
    @include responsive($screen: mobile)
      font-size: 16px
      width: 100%
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 14px
    @include responsive($screen: large-desktop)
      font-size: 18px
    h5
      line-height: 1.24
      @include responsive($screen: mobile)
        font-family: MalloryBold
        font-size: 18px
        margin-bottom: 10px
      @include responsive($screen: tablet)
        margin-bottom: 10px
        font-size: 14px
      @include responsive($screen: desktop)
        margin-bottom: 14px
        font-size: 18px
      @include responsive($screen: large-desktop)
        margin-bottom: 20px
        font-size: 26px