@media only screen and (min-width: 1368px)
  .introduction-detail
    padding-top: 120px
    display: flex
    flex-direction: row
    height: 920px

    h3
      height: 45px
      font-size: 34px
      margin-bottom: 40px

    .content
      display: flex
      flex-direction: column
      height: 519px
      p
        font-size: 26px
        line-height: 1.54 !important
        &:last-child
          margin-top: auto

    .img-wrapper
      display: flex
      justify-content: flex-end
      img
        width: 539px
        height: 650px