.introduction-detail
  display: flex
  flex-direction: row

  .content
    display: flex
    flex-direction: column
    p
      line-height: 1.54 !important
      &:last-child
        margin-top: auto

  .img-wrapper
    display: flex
    justify-content: flex-end

@media (min-width: 768px) and (min-width: 1365px)
  .introduction-detail
    padding-top: 8.3vw
    padding-bottom: 10.5vw

    h3
      font-size: 26px
      margin-bottom: 2.8vw

    .content
      p
        font-size: 18px

    .img-wrapper
      img
        width: 37.4vw
        height: 45.1vw

@media only screen and (min-width: 1366px)
  .introduction-detail
    padding-top: 120px
    padding-bottom: 151px

    h3
      height: 45px
      font-size: 34px
      margin-bottom: 40px

    .content
      p
        font-size: 26px

    .img-wrapper
      img
        width: 539px
        height: 650px
