@import 'styles/mixins'

.introduction-detail
  display: flex
  flex-direction: row
  @include responsive($screen: mobile)
    padding: 50px 0 50px 0
  @include responsive($screen: tablet)
    padding: 50px 0
  @include responsive($screen: desktop)
    padding: 70px 0
  @include responsive($screen: large-desktop)
    padding: 100px 0

  &__title
    line-height: 1.33
    @include responsive($screen: mobile)
      font-size: 24px
      line-height: 1.5
      margin-bottom: 20px
    @include responsive($screen: tablet)
      margin-top: 45px
      font-size: 20px
      margin-bottom: 10px
    @include responsive($screen: desktop)
      margin-top: 63px
      font-size: 28px
      margin-bottom: 14px
    @include responsive($screen: large-desktop)
      margin-top: 90px
      font-size: 40px
      margin-bottom: 20px

  &__content
    display: flex
    flex-direction: column
    p
      line-height: 1.5
      &:last-child
        margin-top: auto
      @include responsive($screen: mobile)
        font-size: 16px
      @include responsive($screen: tablet)
        font-size: 14px
      @include responsive($screen: desktop)
        font-size: 14px
      @include responsive($screen: large-desktop)
        font-size: 18px

  .img-wrapper
    justify-content: flex-end
    height: auto
    img
      float: right
      width: 90%
      @include responsive($screen: mobile)
        margin: 50px 50.4px 0 50px
        width: 70.9%
      @include responsive($screen: tablet)
        margin-right: 13px
      @include responsive($screen: desktop)
        margin-right: 18px
      @include responsive($screen: large-desktop)
        margin-right: 25px
