.introduction-detail
  display: flex
  flex-direction: row

  &__content
    display: flex
    flex-direction: column
    p
      line-height: 1.54 !important
      &:last-child
        margin-top: auto

  .img-wrapper
    display: flex
    justify-content: flex-end

@media (min-width: 768px) and (max-width: 1023px)
  .introduction-detail
    padding-top: 64px
    padding-bottom: 80px

    h3
      height: 32px
      font-size: 26px
      margin-bottom: 28px

    &__content
      p
        font-size: 26px

    .img-wrapper
      img
        width: 383px

@media (min-width: 1024px) and (max-width: 1365px)
  .introduction-detail
    padding-top: 85px
    padding-bottom: 107px

    h3
      height: 24px
      font-size: 20px
      margin-bottom: 21px

    &__content
      p
        font-size: 20px

    .img-wrapper
      img
        width: 383px

@media only screen and (min-width: 1366px)
  .introduction-detail
    padding-top: 120px
    padding-bottom: 151px

    h3
      height: 45px
      font-size: 34px
      margin-bottom: 40px

    &__content
      p
        font-size: 26px

    .img-wrapper
      img
        width: 539px
