@import 'variables.sass'
.quote
  min-height: 100vh
  background-color: $slightOrange
  padding: 50px

  &__right-side
    img
      width: 100%
      height: 618px
      object-fit: cover

  &__content
    text-align: left
    margin: 0
    padding-bottom: 20px

  &__author
    text-align: left

@media only screen and (min-width: 1024px)
  .quote
    padding: 99px 0 200px 99px
    display: flex

    &__left-side
      flex: 1
      padding-right: 50px

    &__right-side
      flex: 2

    &__content
      font-size: 54px
      line-height: 1.3
      padding-bottom: 40px

    &__text-bold
      font-size: 26px
