@import './variables.sass'

@mixin dropdown-content($width, $right)
  position: absolute
  top: 60px
  right: $right
  padding-left: 30px
  padding-right: 30px
  padding-top: 20px
  padding-bottom: 20px
  background-color: $white
  width: $width
  border-radius: 10px
