$lightGray: #a9a9a9
$darkGray: #3e403d
$solidGray: #2e2e2e
$black: #000000
$slightBlack: #242424
$yellow: #fabf22
$darkYellow: #f9be39
$white: #ffffff
$smokeWhite: #5c5d5b
$slightOrange: #fcf6e4
$green: #31bd70
