$lightGray: #a9a9a9
$darkGray: #3e403d
$solidGray: #2e2e2e
$smokeGray: #e5e5e5
$slightGray: #e3e3e3
$litleGray: #c7c7c7
$softGray: #f8f8f8
$fogGray: #5a5a5a
$warmGray: #efefef
$sweetGray: #ababab

$black: #000000
$solidBlack: #38393e
$softBlack: #393e41
$slightBlack: #242424

$yellow: #f9be39
$slightYellow: #f1e3b9
$slightBrown: #e2c488

$white: #ffffff
$smokeWhite: #5c5d5b
$albescentWhite: #f5ebd4
$slightOrange: #fcf6e4
$green: #31bd70

$tulipTree: #e6a143
$lightningYellow: #fabf22

$desktopPadding: calc((100% - 1240px)/2)
