$lightGray: #a9a9a9
$darkGray: #3e403d
$solidGray: #2e2e2e
$smokeGray: #e5e5e5
$slightGray: #e3e3e3
$softGray: #f8f8f8
$black: #000000
$slightBlack: #242424
$yellow: #fabf22
$slightYellow: #f1e3b9
$darkYellow: #f9be39
$white: #ffffff
$smokeWhite: #5c5d5b
$slightOrange: #fcf6e4
$green: #31bd70
