@import '../../styles/variables.sass'

.breadcrumb
  width: 100%
  padding: 0 30px
  margin-bottom: 0 !important

  &__content
    width: 100%
    display: flex
    align-items: center
    border-bottom: 1px solid $slightYellow

  span
    padding: 5px 10px 0 10px

  &__text
    cursor: pointer
    display: flex
    align-items: center
    a, p
      font-family: ProximaNovaRegular
      white-space: nowrap

@media (min-width: 768px) and (max-width: 1023px)
  .breadcrumb
    padding-top: 14px !important
    padding-bottom: 0 !important

    img
      height: 8px
      padding-left: 56px

    &__text
      a, p
        font-size: 10px
    
    &__content
      padding-bottom: 5px

@media (min-width: 1024px) and (max-width: 1365px)
  .breadcrumb
    padding-top: 18px !important
    padding-bottom: 0 !important

    img
      height: 10px
      padding-left: 75px

    &__text
      a, p
        font-size: 14px

    &__content
      padding-bottom: 7px

@media only screen and (min-width: 1366px)
  .breadcrumb
    padding-top: 26px !important
    padding-bottom: 0 !important

    img
      padding-left: 105px

    &__text
      a, p
        font-size: 16px
 
    &__content
      padding-bottom: 10px
