@import '../../styles/variables.sass'

.breadcrumb
  background-color: transparent
  width: 100%
  padding: 0 30px
  margin-bottom: 0 !important

  &__content
    display: flex
    align-items: center
    border-bottom: 1px solid $slightYellow
    padding-bottom: 10px
    width: 100%

  span
    padding: 5px 10px 0 10px

  &__text
    cursor: pointer
    display: flex
    align-items: center
    a, p
      font-family: ProximaNovaRegular
      white-space: nowrap

@media only screen and (min-width: 1368px)
  .breadcrumb
    padding-top: 26px !important
    padding-bottom: 0 !important

    img
      padding-left: 105px

    &__text
      a, p
        font-size: 16px
