@import '../../styles/variables.sass'

.contact-us
  header, .breadcrumb, section
    background-color: $white    
  
  .contact-form
    h1
      color: $solidBlack
    
    p
      color: $darkGray
      line-height: 1.5

    &__send-wrapper
      &:hover, &:focus
        .send-rectangle
          border: none 
          background-color: $yellow
        .send-dashed-border
          border: dashed 1px $yellow

    
    .send-rectangle
      border: solid 1px $solidBlack
      background-color: $white
      position: absolute
      top: 0
      left: 10px
      p
        color: $solidBlack
      .arrow-wrapper
        background-color: transparent

    .send-dashed-border
      border-radius: 4px
      border: dashed 1px $solidBlack;

@media (min-width: 768px) and (max-width: 1023px)
  .contact-us

    .contact-form
      padding: 42px 0 84px 0

      &__wrapper
        padding: 0 59px
      
      h1
        width: 165px
        padding-bottom: 17px
        font-size: 28px
      
      .check-point
        margin-right: 8.4px
      
      &__introduction
        padding-bottom: 23px

      p
        font-size: 10px
      
      label
        font-size: 9px
      
      .send-rectangle
        left: 7.5px
        width: 247.5px
        height: 78px
        p
          font-size: 10px
          padding-bottom: 8.4px
          padding-left: 8.4px
                
      .arrow-wrapper
        padding-right: 8.4px
        padding-bottom: 11px
        
      .send-dashed-border
        width: 247.5px
        height: 78px
        margin-left: 5.6px
        margin-top: 5.6px
      
      &__arrow
        .line
          width: 18px
        .arrow-right
          left: 18px


@media (min-width: 1024px) and (max-width: 1365px)
  .contact-us

    .contact-form
      padding: 52px 0 105px 0

      &__wrapper
        padding: 0 73.5px
      
      h1
        width: 206.5px
        padding-bottom: 21px
        font-size: 37px
      
      .check-point
        margin-right: 10.5px
      
      &__introduction
        padding-bottom: 28px

      p
        font-size: 14px
      
      label
        font-size: 12px

      &__arrow
        .line
          width: 24px
        .arrow-right
          left: 24px
      
      .send-rectangle
        left: 7.5px
        width: 353.5px
        height: 98px
        p
          font-size: 14px
          padding-bottom: 10.5px
          padding-left: 10.5px

      .arrow-wrapper
        padding-right: 10.5px
        padding-bottom: 14px
        
      .send-dashed-border
        width: 353.5px
        height: 98px
        margin-left: 7px
        margin-top: 7px
    
@media only screen and (min-width: 1366px)
  .contact-us

    .contact-form
      padding: 74px 0 150px 0

      &__wrapper
        padding: 0 105px
      
      h1
        width: 295px
        padding-bottom: 30px
        font-size: 60px
      
      .check-point
        margin-right: 15px
      
      &__introduction
        padding-bottom: 40px

      p
        font-size: 20px
      
      label
        font-size: 18px
      
      &__arrow
        .line
          width: 34px
        .arrow-right
          left: 34px

      .send-rectangle
        width: 505px
        height: 140px
        p
          font-size: 16px
          padding-bottom: 15px
          padding-left: 15px
        
      .arrow-wrapper
        padding-right: 15px
        padding-bottom: 20px
        
      .send-dashed-border
        width: 505px
        height: 140px
        margin-left: 10px
        margin-top: 10px
