@import '../../styles/variables.sass'

.home
  .main-header, .sub-header, .quote
    background-color: $slightOrange

@media (min-width: 768px) and (max-width: 1365px)
  .home
    hr
      width: calc(100% - 140px)

@media only screen and (min-width: 1366px)
  .home
    hr
      width: 1240px
