.guarantee
  padding: 50px

  &__title
    text-align: center

  &__grid
    > div
      padding-bottom: 50px

  &__checkpoint-box
    display: flex
    p
      margin-left: 20px

    .check-point-wrapper
      padding-top: 10px

@media only screen and (min-width: 1023px)
  .guarantee
    padding: 100px 50px

    h5
      padding-bottom: 20px
      line-height: 30px

    &__grid
      display: grid
      grid-column-gap: 50px
      justify-content: space-between
      grid-template-columns: repeat(3, 250px)

    &__checkpoint-box
      padding-bottom: 30px

@media only screen and (min-width: 1300px)
  .guarantee
    padding: 100px 100px 150px 100px

    &__grid
      grid-template-columns: repeat(3, 350px)
