@import '../../../../styles/variables.sass'

.testimonials-stats

  .stats
    h2
      color: #f9be39

@media (min-width: 768px) and (max-width: 1365px)
  .testimonials-stats
    padding: 5.1vw 0 6.9vw 0
    
    &__wrapper
      padding: 0 7.2vw
    
    h2
      font-size: 40px
    
    .title
      padding-bottom: 2.8vw

    .stats
      h2
        padding-bottom: 0.9vw
      p
        font-size: 18px
      sup
        top: -18px
        left: 5px
        font-size: 18px

@media only screen and (min-width: 1366px)
  .testimonials-stats
    padding: 74px 0 100px 0
    
    &__wrapper
      padding: 0 105px
    
    h2
      font-size: 60px
    
    .title
      padding-bottom: 40px

    .stats
      h2
        padding-bottom: 12px
      p
        font-size: 26px
      sup
        top: -26.5px
        left: 7px
        font-size: 26px