@import '../../styles/variables.sass'

.portfolio-header
    p
        line-height: 1.5
        color: $slightBlack
            
    &__email
        font-family: ProximaNovaBold

@media (min-width: 768px) and (max-width: 1023px)
    .portfolio-header
        padding-top: 16px

        p
            font-size: 9px

        &__logo
            max-height: 26px
            padding-right: 11px
        
        &__logo-text
            img
                max-height: 9px

@media (min-width: 1024px) and (max-width: 1365px)
    .portfolio-header
        padding-top: 21px

        p
            font-size: 11px

        &__logo
            max-height: 34px
            padding-right: 15px
        
        &__logo-text
            img
                max-height: 12px

@media only screen and (min-width: 1366px)
    .portfolio-header
        padding-top: 30.3px

        p
            font-size: 16px

        &__logo
            max-height: 48px
            padding-right: 20.6px
        
        &__logo-text
            img
                max-height: 17px