@import 'styles/variables'
@import 'styles/mixins'

.blog-dialog
    position: fixed
    z-index: 9999999999
    width: 100%
    height: 120%
    top: 0
    left: 0
    background-color: $slightOrange
    overflow: hidden

    &__header
        width: 100%
        display: flex
        @include responsive($screen: mobile)
            padding-left: 15px
            padding-right: 15px
            padding-top: 20px
        @include responsive($screen: tablet)
            padding-left: 50px
            padding-right: 50px
            padding-top: 16px
        @include responsive($screen: desktop)
            padding-left: 70px
            padding-right: 70px
            padding-top: 22px
        @include responsive($screen: large-desktop)
            padding-left: $desktopPadding
            padding-right: $desktopPadding
            padding-top: 32px

    &__header-button
        cursor: pointer
        color: $solidBlack
        font-size: 20px

    &__logo
        @include responsive($screen: mobile)
            height: 30px
        @include responsive($screen: tablet)
            height: 16px
        @include responsive($screen: desktop)
            height: 22px
        @include responsive($screen: large-desktop)
            height: 32px

    &__content
        width: 100%
        @include responsive($screen: mobile)
            padding-top: 40px
        @include responsive($screen: tablet)
            padding-top: 20px
        @include responsive($screen: desktop)
            padding-top: 28px
        @include responsive($screen: large-desktop)
            padding-top: 40px
        img
            padding: 2.3% 7%
        h3
            white-space: nowrap
            line-height: 1.34
            @include responsive($screen: mobile)
                margin-top: 28px
                font-size: 18px
            @include responsive($screen: tablet)
                margin-top: 28px
                font-size: 18px
            @include responsive($screen: desktop)
                margin-top: 28px
                font-size: 18px
            @include responsive($screen: large-desktop)
                margin-top: 40px
                font-size: 24px
        p
            font-family: ProximaNovaRegular !important
            margin-top: 15px
            font-size: 16px
            margin-bottom: 30px
            line-height: 1.5
            @include responsive($screen: mobile)
                font-size: 16px !important
            @include responsive($screen: tablet)
                font-size: 14px
                margin-top: 10px
            @include responsive($screen: desktop)
                font-size: 14px
                margin-top: 10px

    &__button
        color: $white
        background-color: $solidBlack
        border: none
        padding: 12px
        &:hover
            color: $yellow

    &__button-wrapper
        padding-right: 15px
        @include responsive($screen: mobile)
            margin-top: 15px
            padding-left: 15px

    &__input-wrapper
        @include responsive($screen: mobile)
            padding-left: 10px
            padding-right: 10px
