@import 'styles/variables'
@import 'styles/mixins'

.auto-carousel
  text-align: left
  @include responsive($screen: mobile)
    padding-right: 0
    padding-left: 0
  @include responsive($screen: tablet)
    padding-right: 12.5px
    padding-left: 12.5px
  @include responsive($screen: desktop)
    padding-right: 17.5px
    padding-left: 17.5px
  @include responsive($screen: large-desktop)
    padding-right: 25px
    padding-left: 25px
  .micro-item
    &:last-child
      padding-bottom: 4px

  p
    text-align: left
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 16px
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 14px
    @include responsive($screen: large-desktop)
      font-size: 18px

  &__name-company
    text-transform: uppercase
    display: inline
    span
      color: $lightningYellow
    @include responsive($screen: mobile)
      font-size: 12px !important
    @include responsive($screen: tablet)
      font-size: 14px !important
    @include responsive($screen: desktop)
      font-size: 14px !important
    @include responsive($screen: large-desktop)
      font-size: 16px !important

.react-multi-carousel-dot-list
  @include responsive($screen: tablet)
    bottom: -24px !important
  @include responsive($screen: desktop)
    bottom: -31px !important

  button:focus
    outline: none !important
