@import 'styles/variables'
@import 'styles/mixins'

.auto-carousel

  p
    text-align: left
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 12pt
    @include responsive($screen: tablet)
      font-size: 10px
      margin: 0 -4px
    @include responsive($screen: desktop)
      font-size: 14px
      margin: 0 -5px
    @include responsive($screen: large-desktop)
      font-size: 18px

  &__name
    color: $yellow

  &__idea, &__name
    text-transform: uppercase
    @include responsive($screen: mobile)
      font-size: 12px
    @include responsive($screen: tablet)
      font-size: 10px
    @include responsive($screen: desktop)
      font-size: 12px
    @include responsive($screen: large-desktop)
      font-size: 16px

.react-multi-carousel-dot-list
  @include responsive($screen: tablet)
    bottom: -24px !important
  @include responsive($screen: desktop)
    bottom: -31px !important