@import '../../styles/variables'
@import '../../styles/mixins'

.auto-carousel
  padding-right: 2.1vw

  p
    text-align: left
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 12pt
    @include responsive($screen: tablet)
      font-size: 10px
    @include responsive($screen: desktop)
      font-size: 12px
    @include responsive($screen: large-desktop)
      font-size: 18px

  &__name
    color: $yellow

  &__idea, &__name
    text-transform: uppercase
    @include responsive($screen: mobile)
      font-size: 12px
    @include responsive($screen: tablet)
      font-size: 10px
    @include responsive($screen: desktop)
      font-size: 10px
    @include responsive($screen: large-desktop)
      font-size: 16px

  .quote-icon
    width: 0.3vw
    height: 0.3vw
    margin-bottom: 1.4vw
    margin-right: 0.3vw

@media (min-width: 768px) and (max-width: 1023px)
  .auto-carousel
    p
      font-size: 10px

@media (min-width: 1024px) and (max-width: 1365px)
  .auto-carousel
    p
      font-size: 12px

@media only screen and (min-width: 1366px)
  .auto-carousel
    p
      font-size: 18px