.guarantee
  p
    line-height: 1.5
    display: inline-block

@media (min-width: 768px) and (max-width: 1365px)
  .guarantee
    padding-top: 10.3vw

    h3
      font-size: 26px
      padding-bottom: 2.8vw
    
    .check-point
      margin-right: 10px
    
    p
      font-size: 16px

@media only screen and (min-width: 1366px)
  .guarantee
    padding-top: 150px

    .row
      margin-left: -25px !important
      margin-right: -25px !important
    
    [class*='col']
      padding-left: 25px !important
      padding-right: 25px !important

    #middle-title
      width: 330px

    &__line
      width: 350px
    
    h3
      font-size: 34px
      padding-bottom: 40px
    
    .check-point
      margin-right: 15px
    
    p
      font-size: 20px
