@import 'styles/mixins'

.guarantee
  @include responsive($screen: mobile)
    padding-top: 50.4px
  @include responsive($screen: tablet)
    padding-top: 50px
  @include responsive($screen: desktop)
    padding-top: 75px
  @include responsive($screen: large-desktop)
    padding-top: 100px

  p
    line-height: 1.5
    display: inline-block

  .row
    @include responsive($screen: tablet)
      margin-left: -13px !important
      margin-right: -12px !important
    @include responsive($screen: desktop)
      margin-left: -18px !important
      margin-right: -17px !important
    @include responsive($screen: large-desktop)
      margin-left: -25px !important
      margin-right: -25px !important

  [class*='col']
    @include responsive($screen: tablet)
      padding-left: 13px !important
      padding-right: 12px !important
    @include responsive($screen: desktop)
      padding-left: 18px !important
      padding-right: 17px !important
    @include responsive($screen: large-desktop)
      padding-left: 25px !important
      padding-right: 25px !important

  // #middle-title
  //   @include responsive($screen: tablet)
  //     width: 192px
  //   @include responsive($screen: desktop)
  //     width: 250px
  //   @include responsive($screen: large-desktop)
  //     width: 330px

  // &__line
  //   @include responsive($screen: tablet)
  //     width: 192px
  //   @include responsive($screen: desktop)
  //     width: 250px
  //   @include responsive($screen: large-desktop)
  //     width: 350px

  h3
    line-height: 1.34
    @include responsive($screen: mobile)
      font-size: 24px
    @include responsive($screen: tablet)
      font-size: 20px
      padding-bottom: 28px
    @include responsive($screen: desktop)
      font-size: 28px
      padding-bottom: 21px
    @include responsive($screen: large-desktop)
      font-size: 40px
      padding-bottom: 30px

  .check-point-wrapper
    @include responsive($screen: mobile)
      padding-top: 10px
      margin-right: 17px
    @include responsive($screen: tablet)
      margin-right: 8px
      padding-top: 5px
    @include responsive($screen: desktop)
      margin-right: 11px
      padding-top: 8px
    @include responsive($screen: large-desktop)
      margin-right: 15px

  h5
    font-family: MalloryBold
    line-height: 1.24
    @include responsive($screen: mobile)
      padding-top: 40px
      font-size: 18px
      line-height: 1.34
      padding-bottom: 10px
    @include responsive($screen: tablet)
      padding-bottom: 11px
    @include responsive($screen: desktop)
      padding-bottom: 14px
    @include responsive($screen: large-desktop)
      font-size: 26px
      padding-bottom: 20px

  p
    line-height: 1.78
    @include responsive($screen: mobile)
      font-size: 16px
      line-height: 1.5
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 14px
    @include responsive($screen: large-desktop)
      font-size: 18px
