@import '../../../../styles/variables.sass'

.missions
  padding-top: 13.9vw
  padding-bottom: 12.6vw

  &__title
    padding-bottom: 2.6vw

  &__item
    justify-content: flex-start      
    display: block
    padding-bottom: 4.2vw
    &:last-child
      padding-bottom: 0
    
    &__item-group
      &:not(:last-child)
        padding-right: 4.9vw
    
.missions__item-title
  padding-bottom: 1.3vw

@media (min-width: 768px) and (min-width: 1365px)
  .missions

    &__title
      font-size: 26px

    p
      font-size: 19px
      line-height: 1.55
    
    &__item-title
      font-size: 20px

@media only screen and (min-width: 1366px)
  .missions
    padding-top: 200px
    padding-bottom: 182px

    &__title
      font-size: 37px
      padding-bottom: 38px

    p
      font-size: 26px
      line-height: 1.54
  
    &__item-title
      font-size: 26px
      padding-bottom: 19px
    
    &__item
      padding-bottom: 60px
