.achieves
  padding: 50px 30px
  background-color: #f8f8f8
  margin-bottom: 100px

  h1
    padding-bottom: 10px

  &__main-content
    padding-top: 50px
    display: grid
    grid-template: repeat(2, auto) / repeat(2, auto)

  &__item-flex
    flex: 1

@media only screen and (min-width: 1023px)
  .achieves
    padding: 80px 50px

    &__main-content
      display: flex
      justify-content: space-between

    h1
      font-size: 34px

    p
      font-size: 20px

    &__item-flex
      p
        font-size: 16px

@media only screen and (min-width: 1400px)
  .achieves
    h1
      font-size: 40px

    &__item-flex
      p
        font-size: 18px
