@import '../../styles/variables.sass'

.develop
  &__image
    width: 100%

@media only screen and (min-width: 1368px)
  .develop
    padding-top: 150px
    padding-bottom: 69px

    .row
      margin-top: 100px
      h3
        padding-top: 50px
        font-size: 34px
      p
        padding-top: 30px
        font-size: 26px
        line-height: 1.54
      .col-md-7
        div, img
          position: inherit
          right: 0  
    
    .rectangle 
      width: 814px
      height: 30px
      border-radius: 0.4vw;
      background-color: $softGray;

    &__image
      width: 815px

    &__title
      height: 90px
      text-align: center