.develop
  padding: 30px

  &__image
    width: 100%

  &__title
    padding-bottom: 30px

  &__left-side-title
    padding-bottom: 30px

@media only screen and (min-width: 1023px)
  .develop
    padding: 100px 0 100px 50px

    &__title
      padding-bottom: 50px
      text-align: center

    &__left-side-title
      padding-top: 50px
      paddin-bottom: 0

    &__right-side
      padding-left: 50px

    &__image
      width: initial
      max-width: 500px

@media only screen and (min-width: 1300px)
  .develop
    padding: 115px 0 70px 100px

    &__right-side
      padding-left: 125px

    &__left-side
      min-width: 400px

    &__image
      max-width: 815px

    &__title
      padding-bottom: 100px
