.develop
  padding: 30px

  &__image
    width: 100%

  &__title
    padding-bottom: 30px

  &__left-side-title
    padding-bottom: 30px

@media only screen and (min-width: 1023px)
  .develop
    padding: 100px 0 100px 100px

    &__title
      padding-bottom: 50px
      text-align: center

    &__left-side-title
      padding-top: 50px
      paddin-bottom: 0

    &__paragraph
      line-height: 1.54

    &__right-side
      padding-left: 50px

    &__image
      width: initial
      max-width: 600px

@media only screen and (min-width: 1300px)
  .develop
    &__right-side
      padding-left: 125px

    &__image
      max-width: 850px

    &__title
      padding-bottom: 100px
