@import '../../styles/variables.sass'

@media only screen and (min-width: 1368px)
  .services-description
    padding-top: 120px
    padding-bottom: 193px

    .row
      :first-child
        height: 60px
      h2
        font-size: 50px
        line-height: 1.2
      p
        padding-top: 43px
        font-size: 26px;
        line-height: 1.54;

      .col-md-6
        padding-left: 0 !important
      
      img
        position: inherit
        right: 0

