@import '../../styles/variables.sass'

.services-description
  background-color: $slightOrange
  padding: 50px 30px
  line-height: 30px

  img
    width: 100%

@media only screen and (min-width: 1023px)
  .services-description
    font-size: 20px
    padding: 100px 50px
    display: flex
    line-height: 40px

    &__text
      padding-right: 50px

    h1
      font-size: 50px
      padding-bottom: 20px

    &__left-side
      flex: 1
      padding-right: 50px

    &__right-side
      flex: 1
      display: flex
      justify-content: flex-end

@media only screen and (min-width: 1400px)
  .services-description
    font-size: 26px
    padding: 100px 0 100px 100px

    &__title
      font-size: 50px
