@import '../../../../styles/variables.sass'

.services-paragraphs
  background-color: $softGray
  align-items: start
      
  .col-md-6
    .card
      text-align: center
      background-color: $white
      border: none
    h4
      line-height: 1.25
    p
      line-height: 1.5

@media (min-width: 768px) and (max-width: 1023px)
  .services-paragraphs
    padding: 80px 0
    .col-md-6
      .card
        padding: 43px 36px
      h4
        font-size: 15px
      p
        font-size: 14px
      &:last-child
        padding-left: 15px
        h4
          padding: 0 51px 14px 51px
      &:first-child
        padding-right: 15px
        h4
          padding: 0 62px 14px 62px

@media (min-width: 1024px) and (max-width: 1365px)
  .services-paragraphs
    padding: 107px 0
    .col-md-6
      .card
        padding: 27px 32px
      h4
        font-size: 13px
      p
        font-size: 12px
      &:last-child
        padding-left: 10px
        h4
          padding: 0 38px 11px 38px
      &:first-child
        padding-right: 10px
        h4
          padding: 0 83px 11px 83px

@media only screen and (min-width: 1366px)
  .services-paragraphs
    padding: 150px 0
    .col-md-6
      .card
        padding: 60px 50px
      h4
        font-size: 24px
      p
        font-size: 20px
      &:last-child
        padding-left: 25px
        h4
          padding: 0 72px 20px 72px
      &:first-child
        padding-right: 25px
        h4
          padding: 0 117px 20px 117px