@import '../../styles/variables'
@import '../../styles/mixins'

.main-header
  font-family: ProximaNovaRegular
  display: flex
  align-items: center
  @include responsive($screen: mobile)
    padding: 20.2px 0 40.6px 0
  @include responsive($screen: tablet)
    padding: 17px 0 14px 0
  @include responsive($screen: desktop)
    padding: 23px 0 18px 0
  @include responsive($screen: large-desktop)
    padding: 32px 0 26px 0

  &__logo-wrapper
    display: flex
    align-items: center

  &__logo
    align-self: center
    width: auto !important
    @include responsive($screen: mobile)
      height: 29.2px
    @include responsive($screen: tablet)
      height: 17px
    @include responsive($screen: desktop)
      height: 22px
    @include responsive($screen: large-desktop)
      height: 31px

  &__left-side
    display: flex
    flex: 2
    justify-content: flex-start

  &__right-side
    display: flex
    align-items: center
    justify-content: flex-end
    @include responsive($screen: mobile)
      display: none

  &__flex-container
    display: flex
    align-items: center
    margin-bottom: 0

  &__hamburger
    display: none
    flex-direction: column
    justify-content: center
    @include responsive($screen: mobile)
      display: flex
    span
      display: block
      width: 30px
      height: 5px
      background-color: $darkGray
      margin-bottom: 5px
      z-index: 31

  // &__flex-container-show
  //   display: block
  //   z-index: 31
  //   padding: 0
  //   position: absolute
  //   min-height: 200vh
  //   background: $slightOrange
  //   z-index: 32
  //   width: 100%
  //   padding-left: 30px
  //   padding-top: 30px
  //   left: 0
  //   li
  //     padding-bottom: 10px

  &__flex-item
    text-align: left
    font-family: ProximaNovaRegular
    color: $darkGray
    cursor: pointer
    a
      color: $darkGray
    @include responsive($screen: tablet)
      font-size: 10px
      padding-left: 11px
      &:last-child
        padding-left: 16px
    @include responsive($screen: desktop)
      font-size: 12px
      padding-left: 14px
      &:last-child
        padding-left: 21px
    @include responsive($screen: large-desktop)
      font-size: 14px
      padding-left: 20px
      &:last-child
        padding-left: 30px

  &__flex-item:last-child
    display: flex
    align-items: center

  &__right-side-show
    display: flex
    flex-direction: flex-start

  &__left-side
    display: flex
    justify-content: space-between

  // &__left-side-show
  //   display: flex
  //   justify-content: space-between

  //   span:first-child
  //     display: none

  //   span:nth-child(2)
  //     position: relative
  //     transform: rotate(45deg)
  //     top: 20px

  //   span:nth-child(3)
  //     position: relative
  //     top: 10px
  //     transform: rotate(-45deg)

  //   .main-header__hamburger
  //     position: relative
  //     top: -15px

.separate-line
  border-bottom: 1px solid #f1e3b9
  margin-bottom: 20px

.mobile-menu
  position: fixed
  left: 0
  top: 0
  height: 100%
  width: 100%
  z-index: 1
  background-color: $yellow
  > div
    padding-left: 15px
    padding-right: 15px

  &__header
    display: flex
    height: 70px
    background-color: $darkGray

  &__close
    align-self: center
    height: 20px
    margin-left: auto

  &__primary-link
    margin-top: 40px
    margin-bottom: 50px
    a
      font-family: MalloryBold
      line-height: 1.22
      margin-bottom: 20px
    img
      height: 10px

  &__secondary-link
    margin-bottom: 50px
    a
      font-family: ProximaNovaRegular
      line-height: 1.21
      margin-bottom: 20px

  .contact-link
    font-family: MalloryBold
    line-height: 1.22
    margin-bottom: 30px

  &__arrow
    padding-top: 3px
    padding-left: 20px
    background-color: transparent !important
    .line
      width: 17px
    .arrow
      left: 17px
