@import '../../styles/variables.sass'

.main-header
  font-family: ProximaNovaRegular
  display: flex
  align-items: center

  &__hamburger
    display: flex
    flex-direction: column
    justify-content: center
    span
      display: block
      width: 30px
      height: 5px
      background-color: $darkGray
      margin-bottom: 5px
      z-index: 31

  &__flex-container-show
    display: block
    z-index: 31
    padding: 0
    position: absolute
    min-height: 200vh
    background: $slightOrange
    z-index: 32
    width: 100%
    padding-left: 30px
    padding-top: 30px
    left: 0
    li
      padding-bottom: 10px

  &__flex-item
    text-align: left
    font-family: ProximaNovaRegular
    font-size: 14px
    color: $darkGray
    cursor: pointer
    a
      color: $darkGray

  &__flex-item:last-child
    display: flex
    align-items: center

  &__right-side-show
    display: flex
    flex-direction: flex-start

  &__left-side
    display: flex
    justify-content: space-between

  &__left-side-show
    display: flex
    justify-content: space-between

    span:first-child
      display: none

    span:nth-child(2)
      position: relative
      transform: rotate(45deg)
      top: 20px

    span:nth-child(3)
      position: relative
      top: 10px
      transform: rotate(-45deg)

    .main-header__hamburger
      position: relative
      top: -15px

@media (min-width: 768px)
  .main-header
    padding: 2.3vw 0 2.1vw 0

    &__logo-wrapper
      display: flex
      align-items: center

    &__left-side
      display: flex
      flex: 2
      justify-content: flex-start

    &__right-side
      display: flex
      align-items: center
      justify-content: flex-end

    &__flex-container
      display: flex
      align-items: center
      margin-bottom: 0

    &__hamburger
      display: none
    
    &__flex-item
      padding-left: 20px
      &:last-child
        padding-left: 30px !important
    
    &__logo
      align-self: center
      width: auto !important

@media (min-width: 768px) and (min-width: 1365px)
  .main-header
    &__logo
      height: 32px
    
    &__flex-item
      font-size: 12px

@media only screen and (min-width: 1366px)
  .main-header
    padding: 32px 0 20px 0

    &__logo
      height: 37px

    &__flex-item
      font-size: 14px
