.home-back
  a
    display: flex
    padding: 0 30px
    align-items: center

  span
    padding: 5px 2px 0 2px

  &__text
      padding-top: 5px

@media only screen and (min-width: 1439px)
  .home-back
    a
      padding: 0 100px
