@import '../../styles/variables.sass'

.home-back
  div
    display: flex
    margin: 0 30px
    padding-bottom: 10px
    align-items: center
    border-bottom: 1px solid $slightYellow

  span
    padding: 5px 2px 0 2px

  &__text
      padding-top: 5px

@media only screen and (min-width: 1023px)
  .home-back
    div
      margin: 0 50px

@media only screen and (min-width: 1439px)
  .home-back
    div
      margin: 0 100px
