@import '../../styles/variables.sass'

.home-back
  padding: 0 30px
  > div
    display: flex
    align-items: center
    border-bottom: 1px solid $slightYellow
    padding-bottom: 10px

  span
    padding: 5px 2px 0 2px

  &__text
    font-size: 16px !important

@media only screen and (min-width: 1023px)
  .home-back
    padding: 0 50px

@media only screen and (min-width: 1439px)
  .home-back
    padding: 0 100px
