@import '../../styles/variables.sass'

.contact
  text-align: left
  padding-top: 10.4vw
  padding-bottom: 9.7vw

  &__email
    color: $yellow

  h3
    font-weight: bold
    line-height: 1.15

  &__phone
    padding-top: 0.7vw
    line-height: 1.17

@media (min-width: 768px) and (max-width: 1365px)
  .contact
    h3
      font-size: 18px
    
    &__phone
      font-size: 12px

@media only screen and (min-width: 1366px)
  .contact
    padding-top: 150px
    padding-bottom: 140px

    h3
      font-size: 26px

    &__phone
      padding-top: 10px
      font-size: 19px
