@import '../../styles/variables.sass'

.contact
  text-align: left
  padding: 80px
  background-color: $white

  &__email
    color: $yellow
    padding: 12px 0

@media only screen and (min-width: 1024px)
  .contact
    padding: 100px

    h3
      font-size: 26px

    &__email
      font-size: 26px

    &__phone
      font-size: 18px
