@import '../../styles/variables.sass'

.contact
  text-align: left
  padding: 50px 30px
  background-color: $white

  &__email
    color: $yellow
    padding: 12px 0

@media only screen and (min-width: 1023px)
  .contact
    padding: 150px 50px

    h3
      font-size: 26px

    &__email
      font-size: 26px

    &__phone
      font-size: 18px

@media only screen and (min-width: 1439px)
  .contact
    padding: 150px 100px
