@import '../../../../styles/variables.sass'

.testimonials-list
  .stats
    h2
      color: #f9be39

@media (min-width: 768px) and (max-width: 1365px)
  .testimonials-list
    padding: 5.1vw 0 6.9vw 0


@media only screen and (min-width: 1366px)
  .testimonials-list
    padding: 175px 0 0 0

    h3
      font-size: 50px
      padding-bottom: 120px

    &__item
      padding-bottom: 100px
      > div
        &:first-child
          > div
            padding-right: 65px
        &:last-child
          > div
            padding-left: 65px
      h4
        font-family: MalloryBold
        font-size: 34px
        padding-bottom: 30px
      p
        font-size: 20px
        line-height: 1.5
        padding-bottom: 80px
      img.logo
        height: 30px
      p.title
        padding-top: 20px
        padding-bottom: 0
        font-weight: bold
        line-height: 1.75
      &:last-child
        img.logo
          height: 50px
      .arrow-wrapper
        padding-left: 10px
