@import 'styles/variables'
@import 'styles/mixins'

.testimonials-list
  @include responsive($screen: mobile)
    padding: 50px 0
  @include responsive($screen: tablet)
    padding: 50px 0 10px 0
  @include responsive($screen: desktop)
    padding: 70px 0 14px 0
  @include responsive($screen: large-desktop)
    padding: 100px 0 20px

  h3
    line-height: 1.34
    @include responsive($screen: mobile)
      font-size: 24px
      line-height: 1.34
    @include responsive($screen: tablet)
      font-size: 20px
      padding-bottom: 40px
    @include responsive($screen: desktop)
      font-size: 28px
      padding-bottom: 56px
    @include responsive($screen: large-desktop)
      font-size: 40px
      padding-bottom: 80px

  &__item
    @include responsive($screen: mobile)
      padding-top: 40px
    @include responsive($screen: tablet)
      padding-bottom: 40px
    @include responsive($screen: desktop)
      padding-bottom: 56px
    @include responsive($screen: large-desktop)
      padding-bottom: 80px
    p:last-child
      padding-bottom: 0
    > div
      &:first-child
        > div
          @include responsive($screen: tablet)
            padding-right: 35px
          @include responsive($screen: desktop)
            padding-right: 46px
          @include responsive($screen: large-desktop)
            padding-right: 65px
      &:last-child
        > div
          @include responsive($screen: tablet)
            padding-left: 35px
          @include responsive($screen: desktop)
            padding-left: 45px
          @include responsive($screen: large-desktop)
            padding-left: 65px
    h4
      font-family: MalloryBold
      line-height: 1.49
      @include responsive($screen: mobile)
        font-size: 24px
        line-height: 1.67
        padding-bottom: 20px
        padding-top: 30px
      @include responsive($screen: tablet)
        font-size: 18px
        padding-bottom: 15px
      @include responsive($screen: desktop)
        font-size: 26px
        padding-bottom: 21px
      @include responsive($screen: large-desktop)
        font-size: 34px
        padding-bottom: 30px
    p
      line-height: 1.5
      @include responsive($screen: mobile)
        font-size: 16px
        padding-bottom: 30px
      @include responsive($screen: tablet)
        font-size: 14px
        padding-bottom: 40px
      @include responsive($screen: desktop)
        font-size: 14px
        padding-bottom: 56px
      @include responsive($screen: large-desktop)
        font-size: 20px
        padding-bottom: 80px
    img.logo
      @include responsive($screen: mobile)
        height: 20px
      @include responsive($screen: tablet)
        height: 15px
      @include responsive($screen: desktop)
        height: 21px
      @include responsive($screen: large-desktop)
        height: 30px
    p.title
      font-family: ProximaNovaBold
      padding-bottom: 0
      font-weight: bold
      line-height: 1.75
      @include responsive($screen: mobile)
        line-height: 1.72
        font-size: 14px
        padding-top: 10px
      @include responsive($screen: tablet)
        font-size: 14px
        padding-top: 10px
      @include responsive($screen: desktop)
        font-size: 14px
        padding-top: 14px
      @include responsive($screen: large-desktop)
        font-size: 20px
        padding-top: 20px
    &:last-child
      img.logo
        @include responsive($screen: tablet)
          height: 20px
        @include responsive($screen: desktop)
          height: 28px
        @include responsive($screen: large-desktop)
          height: 40px
    .arrow-wrapper
      @include responsive($screen: mobile)
        padding-left: 10px
      @include responsive($screen: tablet)
        padding-left: 8px
      @include responsive($screen: desktop)
        padding-left: 11px
      @include responsive($screen: large-desktop)
        padding-left: 15px

  .case-study__arrow
    .line
      @include responsive($screen: mobile)
        width: 23px
      @include responsive($screen: tablet)
        width: 18px
      @include responsive($screen: desktop)
        width: 24px
      @include responsive($screen: large-desktop)
        width: 34px
    .arrow-right
      @include responsive($screen: mobile)
        left: 23px
      @include responsive($screen: tablet)
        left: 18px
      @include responsive($screen: desktop)
        left: 24px
      @include responsive($screen: large-desktop)
        left: 34px
