@import 'styles/variables'
@import 'styles/mixins'

// Animation
@keyframes scroll
  0%
    transform: translateX(0)

  100%
    transform: translateX(calc(-250px * 6))

@keyframes scroll-reverse
  0%
    transform: translateX(calc(-250px * 6))

  100%
    transform: translateX(0)

// Styling

.slider
  height: 50px
  overflow: hidden
  position: relative
  @include responsive($screen: mobile)
    margin-left: -15px
    margin-right: -15px
  @include responsive($screen: tablet)
    margin-left: -50px
    margin-right: -50px
  @include responsive($screen: desktop)
    margin-left: -70px
    margin-right: -70px
  @include responsive($screen: large-desktop)
    margin-left: -100px
    margin-right: -100px
  &.reverse
    @include responsive($screen: mobile)
      margin-top: 16px
    @include responsive($screen: tablet)
      margin-top: 25px
    @include responsive($screen: desktop)
      margin-top: 35px
    @include responsive($screen: large-desktop)
      margin-top: 50px

  .slide-track
    animation: scroll 40s linear infinite
    display: flex
    width: calc(250px * 12)

  .slide-track-reverse
    animation: scroll-reverse 40s linear infinite
    display: flex
    width: calc(250px * 12)

  .slide
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    height: 40px
    width: 250px
    margin: 5px 0
