@import '../../styles/variables.sass'
@import '../../styles/mixins.sass'

.services

  &__items
    @include dropdown-content(410px, 226px)
    z-index: 50

  h4
    letter-spacing: .5px
    margin-top: 0
    margin-bottom: 0

  &__arrow-wrapper
    display: flex
    align-items: center
    padding-right: 45px

  &__icon-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    text-align: left

  &__service-description-wrapper
    text-align: left
    letter-spacing: .5px
    p
      font-size: 14px !important
      line-height: initial !important

  &__service
    display: flex
    padding: 15px
    &:hover
      background-color: #fafafa
      border-radius: 6px
