@import '../../styles/variables.sass'
@import '../../styles/mixins.sass'

.services
  @include dropdown-content(410px, 226px)

  h4
    letter-spacing: .5px
    margin-top: 0
    margin-bottom: 0

  img
    margin-right: 10px

  &__arrow-wrapper
    display: flex
    align-items: center
    padding-right: 45px

  &__icon-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    text-align: left

  &__service-description-wrapper
    text-align: left
    letter-spacing: .5px
    font-size: 14px

  &__service
    display: flex
    padding: 15px
    &:hover
      background-color: #fafafa
      border-radius: 6px

@media only screen and (min-width: 1023px)
  .sub-header
