@import '../../styles/variables.sass'

@media only screen and (min-width: 1024px)
  .partners
    padding: 80px 4.8vw 6.9vw 4.8vw !important

    &__title
      text-align: center
      font-size: 34px
      line-height: 1.27
      height: 105px
      padding-bottom: 4.2vw !important

    &__grid
      display: grid
      grid-template-columns: repeat(6, auto)
      justify-content: space-between

    .react-multi-carousel-track
      display: flex
      align-items: center
      justify-content: center
      
    li.react-multi-carousel-item  
      padding: 0 31px

    .react-multiple-carousel__arrow
      background-color: transparent !important
      &:focus
        outline: none
      &::before, &::after
        color: $smokeGray
      &--left
        left: 0 !important
      &--right
        right: 0 !important

    img
      width: 100px
      height: 26px
      object-fit: contain

    .logo-assured
      width: 126px
      height: 26px

    .logo-finda
      width: 123px
      height: 30px

    .logo-luxe
      width: 79px
      height: 40px

    .logo-candy
      width: 170px
      height: 27px

    .logo-gig
      width: 55px
      height: 50px

    .logo-mywork
      width: 112px
      height: 26px