@import '../../styles/variables.sass'
.portfolio-interesting
    text-align: center
    background-color: $slightOrange

    p
        line-height: 1.33

    &__above-text
        font-family: ProximaNovaBold

    &__below-text
        display: inline-block
        border-bottom: 1px solid $darkGray

@media (min-width: 768px) and (max-width: 1365px)
    .portfolio-interesting
        padding: 19.8vw 0

        p
            font-size: 16px

@media only screen and (min-width: 1366px)
    .portfolio-interesting
        padding: 285px 0

        p
            font-size: 20px