@import 'styles/variables'
@import 'styles/mixins'

.portfolio-interesting
    text-align: center
    background-color: $slightOrange
    @include responsive($screen: mobile)
        padding: 175px 0
    @include responsive($screen: tablet)
        padding: 152px 0
    @include responsive($screen: desktop)
        padding: 203px 0
    @include responsive($screen: large-desktop)
        padding: 285px 0

    p
        line-height: 1.33
        @include responsive($screen: mobile)
            font-size: 20px
            line-height: 1.5
        @include responsive($screen: tablet)
            font-size: 20px
        @include responsive($screen: desktop)
            font-size: 22px
        @include responsive($screen: large-desktop)
            font-size: 30px

    &__above-text
        font-family: ProximaNovaBold

    &__below-text
        display: inline-block
        border-bottom: 1px solid $darkGray