@import '../../styles/variables.sass'
.portfolio-interesting
    padding: 285px 0
    text-align: center
    background-color: $slightOrange

    p
        font-size: 30px
        line-height: 1.33

    &__above-text
        font-family: ProximaNovaBold

    &__below-text
        display: inline-block
        border-bottom: 1px solid $darkGray