@import '../../styles/variables.sass'

.explore
  padding-bottom: 8.3vw

  &__image-wrapper
    display: flex
    justify-content: center
  
  > div
    padding: 0 6.9vw 0 10.4vw
    background-color: $albescentWhite
    padding-top: 5.5vw
    padding-bottom: 5.5vw
    margin: 0

  &__image
    width: 100%

  &__description
    font-family: ProximaNovaBold
    line-height: 1.23
    padding: 0.9vw 0 4.2vw 0
  
  &__top-content
    display: flex
    justify-content: space-between

  &__case-study
    display: flex

@media (min-width: 768px) and (max-width: 1023px)
  .explore
    padding-bottom: 64px
    
    > div
      padding: 43px 53px 43px 80px
      margin: 0

    &__description
      font-size: 20px !important
      padding: 6px 0 32px 0
    
    h6
     font-size: 10px

@media (min-width: 1024px) and (max-width: 1365px)
  .explore
    padding-bottom: 85px
    
    > div
      padding: 57px 71px 57px 107px
      margin: 0

    &__description
      font-size: 18px !important
      padding: 9px 0 43px 0
    
    h6
     font-size: 14px

@media only screen and (min-width: 1366px)
  .explore
    padding-bottom: 120px
    
    > div
      padding: 80px 100px 80px 150px
      margin: 0

    &__description
      font-size: 38px
      padding: 12px 0 60px 0
    
    h6
     font-size: 16px