@import '../../styles/variables.sass'

@media only screen and (min-width: 1024px)
  .explore
    padding-bottom: 120px

    &__image-wrapper
      display: flex
      justify-content: center
    
    > div
      padding: 0 101px 0 150px
      background-color: $albescentWhite
      padding-top: 80px
      padding-bottom: 80px
      margin: 0

    &__image
      width: 100%

    &__description
      font-size: 37px
      font-family: ProximaNovaBold
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.23
      letter-spacing: normal
      padding: 12px 0 60px 0
      width: calc(57.4% + 180px);
    
    &__top-content
      display: flex
      justify-content: space-between

    h6
     font-size: 16px

    &__case-study
      display: flex