@import 'styles/variables'
@import 'styles/mixins'

.search-box
  outline: 0
  display: flex
  align-items: center
  border-bottom: 1px solid transparent
  padding-bottom: 2px
  overflow: hidden
  transition: width 400ms linear
  width: 92px
  @include responsive($screen: mobile)
    margin-top: 8px
  &__icon
    &--search
      height: 16px
      padding-right: 15px
    &--close
      height: 16px
      padding-left: 15px
      cursor: pointer
      opacity: 0
      transition-delay: 400ms
  &__input
    border: 0!important
    outline: 0!important
    padding: 0!important
    height: auto!important
    margin-bottom: 0!important
    color: $haiti!important
    @include responsive($screen: mobile)
      font-size: 20px !important
    @include responsive($screen: tablet)
      font-size: 14px !important
    @include responsive($screen: desktop)
      font-size: 14px !important
    @include responsive($screen: large-desktop)
      font-size: 20px !important
  &.focus
    border-color: $haiti
    @include responsive($screen: mobile)
      width: 270px
    @include responsive($screen: tablet)
      width: 207px
    @include responsive($screen: desktop)
      width: 207px
    @include responsive($screen: large-desktop)
      width: 270px
    .search-box__icon--close
      opacity: 1