@import 'styles/variables'
@import 'styles/mixins'

.search
  background-color: $white !important
  &__icon-wrapper
    @include responsive($screen: tablet)
      width: 28px
    @include responsive($screen: desktop)
      width: 30px
    @include responsive($screen: large-desktop)
      width: 35px

  &__text
    text-align: left
    &:hover
      cursor: pointer
    p, h4
      line-height: 1.25
      @include responsive($screen: tablet)
        font-size: 10px
      @include responsive($screen: desktop)
        font-size: 14px
      @include responsive($screen: large-desktop)
        font-size: 20px
  &__box
    position: relative
   
    margin-left: 160px


input.search-box-blog
  border: none !important
  padding-left: 30px !important
  width: 50px
  transition: width 0.4s linear;
  &:focus
    outline-color: transparent !important
    border-bottom: solid #252427 1px !important 
    width: 200px
    margin-left: 0px
    transition: width 0.4s linear
