@import '../../styles/variables.sass'

.service
  header, .breadcrumb, section
    background-color: $white
    
  &__first-content
    .row
      p
        line-height: 1.54
    .image-wrapper
        right: 0
        bottom: 0
        img
          max-width: 100%
          object-fit: contain
  
  &__second-content
    left: 0
    width: 100%
    background-color: $softGray !important
    p
      line-height: 1.54

  &__slogan-item
    height: 100%
    border-right: .5px dashed $black
    p
      line-height: 1.54;

  .no-border
    border: none !important
  
  &__third-content
    position: relative

  &__dotted-square
    height: initial
    display: inline-block
    border-radius: 4px
    border: dashed 1px #e6a143
    h3
      line-height: 1.47
    p
      line-height: 1.5

  &__yellow-rectangle
    position: absolute
    top: 0
    background-color: $yellow
    h3
      line-height: 1.47
    p
      line-height: 1.5
    
  &__logos-wrapper
    img
      &:nth-child(3n)
        margin-right: 0
      &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3)
        margin-bottom: 0 !important

  &__other-service
    border: 1px solid $softGray
    height: 100%
    display: flex
    align-items: center
    div.col-sm-3
      img
        max-width: 100%
    div.col-sm-9
      h4
        color: $softBlack
  
  &__other-service-wrapper
    &:nth-child(2n)
      padding-right: 0 !important
    &:nth-child(2n+1)
      padding-left: 0 !important

@media (min-width: 768px) and (max-width: 1365px)
  .service
    &__title
      padding-bottom: 2.1vw
    
    &__first-content
      padding-left: 14.2vw !important
      h1
        width: 49.7vw !important
        padding-top: 5.1vw
        padding-bottom: 2.1vw
      p
        width: 49.7vw !important
        font-size: 18px
        padding-bottom: 4.2vw
      .image-wrapper
          margin-right: -70px !important
          margin-bottom: -26vw
    
    &__second-content
      padding: 33vw 14.2vw 14.3vw 14.2vw !important
      h2
        margin-right: -1.9vw
        font-size: 35px
        padding-bottom: 2.8vw
      p
        font-size: 18px
    
    &__slogan
      padding: 6.9vw 0 14.2vw 0
      h2
        font-size: 35px
        padding-bottom: 4.2vw
    
    &__slogan-item
      h3
        font-size: 26px
        padding-top: 1.4vw
        padding-bottom: 1.4vw
      p
        padding-right: 1.8vw !important
        font-size: 18px

    &__third-content
      padding-top: 1.4vw

    &__dotted-square
      margin-left: -70px
      width: 80vw
      padding: 6.9vw 8.4vw 6.9vw 6.9vw
      > div:first-child
        padding-right: 1.4vw
        h3
          font-size: 26px
          padding-bottom: 2.1vw
        p
          font-size: 14px
      > div:last-child
        padding-left: 1.4vw

    &__yellow-rectangle
      padding: 6.9vw
      width: 78.5vw
      > div:first-child
        padding-right: 1.4vw
        h3
          font-size: 26px
          padding-bottom: 2.1vw
        p
          font-size: 14px
      > div:last-child
        padding-left: 1.4vw
      
    &__logos-wrapper
      img
        width: 5.6vw
        margin-right: 1.4vw
        margin-bottom: 1.4vw
    
    &__other-services-container
      padding-top: 14.2vw
      padding-bottom: 3.5vw
    
    &__other-services-title
      font-size: 26px
      padding-bottom: 4.2vw
    
    &__other-service
      border-radius: 0.6vw
      box-shadow: 0.3vw 0.3vw 0.6vw 0 rgba(224, 224, 224, 0.5)
      padding: calc(2.1vw - 1px) 0
      div.col-sm-3
        margin-left: 2.8vw
        img
          max-height: 8.3vw !important
      div.col-sm-9
        padding-left: 2.8vw
        h4
          font-size: 16px
    
    &__other-service-wrapper
      padding: 0 15px 30px 15px !important

@media only screen and (min-width: 1366px)
  .service
    &__title
      padding-bottom: 30px
    
    &__first-content
      padding-left: calc(#{$desktopPadding} + 105px) !important
      h1
        width: 715px !important
        padding-top: 73px
        padding-bottom: 30px
      p
        width: 715px !important
        font-size: 26px
        padding-bottom: 60px
      .image-wrapper
          margin-right: -100px !important
          margin-bottom: -375px
    
    &__second-content
      padding: 475px calc(#{$desktopPadding} + 105px) 150px calc(#{$desktopPadding} + 105px) !important
      h2
        margin-right: -27px
        font-size: 50px
        padding-bottom: 40px
      p
        font-size: 26px
    
    &__slogan
      padding: 100px 0 150px 0
      h2
        font-size: 50px
        padding-bottom: 60px
    
    &__slogan-item
      h3
        font-size: 34px
        padding-top: 20px
        padding-bottom: 20px
      p
        padding-right: 24px !important
        font-size: 26px

    &__third-content
      padding-top: 20px

    &__dotted-square
      width: 1150px
      margin-left: -100px
      padding: 100px 120px 100px 100px
      > div:first-child
        padding-right: 20px
        h3
          font-size: 34px
          padding-bottom: 30px
        p
          font-size: 20px
      > div:last-child
        padding-left: 20px

    &__yellow-rectangle
      left: calc(#{$desktopPadding} - 100px )
      padding: 100px
      width: 1130px
      > div:first-child
        width: 65.59%
        h3
          font-size: 34px
          padding-bottom: 30px
        p
          font-size: 20px
      > div:last-child
        padding-left: 40px
      
    &__logos-wrapper
      width: 34.41%
      img
        align-self: start
        width: 80px 
        margin-right: 20px
        margin-bottom: 20px
    
    &__other-services-container
      padding-top: 150px
      padding-bottom: 50px
    
    &__other-services-title
      font-size: 34px
      padding-bottom: 60px
    
    &__other-service
      border-radius: 8px
      box-shadow: 4px 4px 9px 0 rgba(224, 224, 224, 0.5)
      height: 100%
      padding: 29px 0
      div.col-sm-3
        margin-left: 40px
        img
          max-height: 120px !important
      div.col-sm-9
        padding-left: 40px
        h4
          font-size: 24px
    
    &__other-service-wrapper
      padding: 0 25px 50px 25px !important
