@import '../../styles/variables.sass'

.service

  &__yellow-rectangle
    background-color: $yellow
    padding: 30px
    margin-top: 50px

@media only screen and (min-width: 1024px)
  .service
    .main-header
      padding-left: 100px
      padding-right: 100px

    .breadcrumb
      padding-left: 205px
      padding-right: 100px

    &__title
      padding-bottom: 30px
    
    &__first-content
      padding-left: 205px !important
      .row
        width: 49.7vw !important
        h1
            padding-top: 73px
            padding-bottom: 30px
        p
            font-size: 26px
            line-height: 1.54
            padding-bottom: 60px
      .image-wrapper
          margin-right: -100px !important
          margin-bottom: -385px
          right: 0
          bottom: 0
          img
            max-width: 100%
            object-fit: contain
    
    &__second-content
      left: 0
      width: 100%
      background-color: $softGray
      padding: 33vw 14.2vw 150px 14.2vw !important
      h2
        margin-right: -27px
        font-size: 50px
        padding-bottom: 40px
      p
        font-size: 26px
        line-height: 1.54

    &__dotted-square
      width: 1150px
      height: initial
      display: inline-block

    &__yellow-rectangle
      padding: 100px 100px 150px 100px
      width: 1130px
      height: 480px
      margin-top: 0
      > div:first-child
        padding-right: 80px
      h3
        line-height: 50px
        padding-bottom: 27px !important