@media only screen and (min-width: 1366px)
    img#assured
        height: 28px
    
    img#finda
        height: 30px

    img#luxe
        height: 40px
    
    img#candy
        height: 28px
        
    img#gig
        height: 50px
    
    img#mywork
        height: 28px