@import '../../styles/variables.sass'

.footer
  background-color: $white
  font-family: ProximaNovaRegular
  text-align: center

  &__phone
    color: $darkGray

  &__email
    color: $yellow

  &__icon-linkedin
    height: 1.1vw

  &__icon-facebook, &__icon-instagram
    height: 1.4vw

  &__social-icon
    margin-right: 1.4vw

  &__top-content-wrapper
    background-image: url('../../assets/images/Footer/map.svg')
    padding: 10.4vw $desktopPadding 5.5vw $desktopPadding
    text-align: left
    background-color: $softGray
    background-position: center
    background-repeat: no-repeat
    color: $darkGray

  &__logo-wrapper
    img
      object-fit: contain

  &__top-content-title
    padding-bottom: 2.2vw !important
  
  &__copyright
    background-color: $warmGray
    color: $sweetGray
    text-align: center
    p
      line-height: 1.23 !important
      opacity: 0.4
    
  .col-md-3
    h5
      padding-bottom: 10px
    p
      line-height: 1.67 !important
      
  &__bottom-content-wrapper
    padding: 6.3vw $desktopPadding 5.5vw $desktopPadding
    display: flex
    justify-content: space-around
    align-items: flex-start
    h3
      font-family: MalloryBold
      line-height: 1.3

  &__bottom-grid-container
    display: flex
    flex: 3
    text-align: left
    justify-content: space-around
    > div
      padding-bottom: 0
      a
        line-height: 1.78 !important
  
  a
    line-height: 1.78
    display: block
    color: $darkGray
    white-space: nowrap
    font-family: ProximaNovaRegular

  &__contact
    padding-top: 2.8vw
    padding-bottom: 2.8vw
    text-align: left
    display: flex
    flex-direction: row
    align-items: flex-start
    span
      font-size: 19px
      padding-right: 3.4vw

  &__bottom-grid-title
    color: $darkGray
    padding-bottom: 0.6vw
    font-family: MalloryMedium

  &__social-icons-wrapper
    padding-top: 2.3vw

@media (min-width: 768px) and (max-width: 1023px)
  .footer
    &__icon-linkedin
      height: 9px

    &__icon-facebook, &__icon-instagram
      height: 10px
    
    &__social-icon
      margin-right: 11px

    &__top-content-title
      font-size: 17px
      line-height: 1.34
      padding-bottom: 17px !important

    &__copyright
      p
        font-size: 14px !important
      
    .col-md-3
      h5
        font-size: 10px
      p
        font-size: 10px !important        

    &__logo-wrapper
      img
        height: 17px

    a
      font-size: 12px !important

    h3
      font-size: 12px !important

    &__contact
      padding-top: 21px
      padding-bottom: 21px
      span
        font-size: 10px
        padding-right: 27px

    &__bottom-grid-title
      font-size: 10px !important
      padding-bottom: 4px

    &__social-icons-wrapper
      padding-top: 18px

@media (min-width: 1024px) and (max-width: 1365px)
  .footer
    &__icon-linkedin
      height: 11px

    &__icon-facebook, &__icon-instagram
      height: 13px

    &__social-icon
      margin-right: 14px

    &__top-content-title
      font-size: 19px
      line-height: 1.34
      padding-bottom: 23px !important

    &__copyright
      padding-top: 14px
      padding-bottom: 14px
      p
        font-size: 18px !important
      
    .col-md-3
      h5
        font-size: 12px
      p
        font-size: 12px !important        

    &__logo-wrapper
      img
        height: 22px

    a
      font-size: 12px !important

    h3
      font-size: 14px !important

    &__contact
      padding-top: 28px
      padding-bottom: 28px
      span
        font-size: 12px
        padding-right: 36px

    &__bottom-grid-title
      font-size: 12px !important
      padding-bottom: 6px

    &__social-icons-wrapper
      padding-top: 24px

@media only screen and (min-width: 1366px)
  .footer

    &__icon-linkedin
      height: 16px

    &__icon-facebook, &__icon-instagram
      height: 18px

    &__social-icon
      margin-right: 20px

    &__top-content-title
      font-size: 24px
      line-height: 1.34
      padding-bottom: 32px !important
    
    &__copyright
      padding-top: 14px
      padding-bottom: 14px
      p
        font-size: 18px !important
      
    .col-md-3
      h5
        font-size: 20px
        padding-bottom: 10px
      p
        font-size: 18px !important        
    
    &__top-content-wrapper
      padding-top: 150px
      padding-bottom: 80px
    
    &__bottom-content-wrapper
      padding: 80px $desktopPadding 80px $desktopPadding
    
    a
      font-size: 18px !important

    h3
      font-size: 20px !important
    
    &__logo-wrapper
      img
        height: 31px

    &__contact
      padding-top: 40px
      padding-bottom: 40px
      span
        font-size: 18px
        padding-right: 50px

    &__bottom-grid-title
      font-size: 18px !important
      padding-bottom: 8px

    &__social-icons-wrapper
      padding-top: 34px
