@import '../../styles/variables.sass'

.footer
  background-color: $white
  font-family: ProximaNovaRegular
  text-align: center

  &__copyright
    background-color: $warmGray
    color: $sweetGray
    font-size: 18px !important
    padding: 14px
    text-align: center

  &__bottom-content-wrapper
    padding: 50px

  &__social-icon
    margin-right: 20px

  &__icon-linkedin
    height: 16px

  &__icon-facebook, &__icon-instagram
    height: 18px

  &__bottom-grid-title
    color: $darkGray
    font-size: 18px !important
    padding-bottom: 8px
    padding-top: 20px
    font-family: MalloryMedium

  a
    display: block
    padding: 10px 0
    color: $darkGray
    font-size: 18px !important
    white-space: nowrap
    font-family: ProximaNovaRegular

  &__phone
    color: $darkGray

  &__email
    color: $yellow

  &__contact
    display: flex
    flex-direction: column
    padding-top: 20px

  &__social-icons-wrapper
    padding-top: 35px

  &__top-content-grid
    font-size: 18px
    > div
      padding-bottom: 20px
      line-height: 30px

  &__top-content-title
    padding-bottom: 32px !important

@media only screen and (min-width: 767px)
  .footer

    &__logo-wrapper
      text-align: left
      flex: 1

    &__bottom-grid-container
      display: flex
      text-align: left
      justify-content: space-between

    &__contact
      text-align: left
      display: flex
      flex-direction: row
      align-items: flex-start
      padding-top: 40px
      padding-bottom: 40px
      span
        padding-right: 50px

    &__top-content-wrapper
      background-image: url('../../assets/images/Footer/map.svg')
      padding: 150px 50px 80px 50px
      text-align: left

    &__top-content-grid
      width: 100%
      background-position: center
      background-repeat: no-repeat
      display: grid
      grid-template-columns: repeat(2, 295px)
      grid-column-gap: 20px
      font-size: 18px
      line-height: 30px
      text-align: left

    &__bottom-grid-title
      padding-top: 0

@media only screen and (min-width: 1023px)
  .footer
    &__bottom-content-wrapper
      padding: 50px
      display: flex
      align-items: flex-start

    &__logo-wrapper
      flex: 2
      display: flex
      justify-content: flex-start
      flex-direction: column

    &__bottom-grid-container
      flex: 3

    &__email
      padding-right: 0 !important

    &__top-content-wrapper
      padding: 150px 50px 80px 50px

    &__top-content-grid
      grid-template-columns: repeat(4, auto)
      grid-column-gap: 20px

@media only screen and (min-width: 1300px)
  .footer
    &__top-content-wrapper
      padding: 150px 100px 80px 100px

    &__top-content-grid
      grid-template-columns: repeat(4, 295px)
      grid-column-gap: 20px
      font-size: 18px

    &__bottom-content-wrapper
      padding: 88px 100px 80px 100px

    a
      font-size: 20px !important

    h3
      font-size: 20px !important

    &__contact
      span
        font-size: 18px
