@import '../../styles/variables.sass'

.missions
  background-color: $slightOrange
  padding: 50px
  text-align: left
  letter-spacing: 0.2px

  &__left-side
    h2
      margin: 0
      padding-bottom: 38px
    p
      line-height: 1.54
      padding-bottom: 30px

  &__right-side

  &__item
    margin-bottom: 30px
    h3
      margin: 0
      padding-bottom: 20px

@media only screen and (min-width: 1023px)
  .missions
    display: flex
    padding: 0 100px 100px 100px

    &__left-side
      flex: 1
      padding-right: 100px

      h2
        font-size: 34px
      p
        font-size: 20px

    &__right-side
      display: flex
      flex: 1
      justify-content: space-between

    &__item
      margin-bottom: 60px

@media only screen and (min-width: 1439px)
  .missions

    &__left-side
      p
        font-size: 26px

    &__right-side
      h3
        font-size: 26px
