@import '../../styles/variables.sass'

.missions
  background-color: $slightOrange
  padding: 50px 30px
  text-align: left
  letter-spacing: 0.2px

  &__left-side
    h2
      margin: 0
      padding-bottom: 38px
    p
      line-height: 1.54
      padding-bottom: 30px

  &__right-side

  &__item
    display: block
    margin-bottom: 30px

  &__item-title
    margin: 0
    padding-bottom: 20px

@media only screen and (min-width: 1023px)
  .missions
    display: flex
    padding: 0 50px

    &__left-side
      flex: 1
      padding-right: 50px

    &__title
      font-size: 26px
      p
        font-size: 20px

    &__right-side
      display: flex
      flex: 1
      justify-content: space-between
      padding-top: 10px

    &__item:not(:last-child)
      margin-bottom: 60px

@media only screen and (min-width: 1300px)
  .missions
    padding: 0 100px

    &__left-side
      padding-right: 0
      p
        max-width: 85%

    &__item-title
      font-size: 26px
