@import '../../styles/variables.sass'

.arrow-wrapper
  position: relative
  display: flex
  justify-content: flex-start
  text-align: left

.arrow
  width: 5px
  height: 5px
  border-top: 1px solid $darkGray
  border-right: 1px solid $darkGray
  left: 33px
  position: relative
  top: -3px
  bottom: 0

.arrow-right
  transform: rotate(45deg)

.line
  width: 33px
  height: 1px
  display: block
  left: 57px
  top: 11px
  background-color: $darkGray
