@import '../../styles/variables.sass'

.arrow-wrapper
  align-self: center
  position: relative
  display: flex
  text-align: left
  top: 2px

.arrow
  width: 5px
  height: 5px
  border-top: 1px solid $darkGray
  border-right: 1px solid $darkGray
  position: relative
  top: -2px
  bottom: 0

.arrow-right
  transform: rotate(45deg)

.line
  height: 1px
  display: block
  left: 57px
  top: 11px
  background-color: $darkGray
