@import 'styles/variables'
@import 'styles/mixins'

.contact-clone
  text-align: left
  @include responsive($screen: mobile)
    padding-top: 50px
    padding-bottom: 40px
  @include responsive($screen: tablet)
    padding-top: 80px
    padding-bottom: 75px
  @include responsive($screen: desktop)
    padding-top: 107px
    padding-bottom: 100px
  @include responsive($screen: large-desktop)
    padding-top: 100px
    padding-bottom: 80px

  &__email
    color: $yellow

  h3
    font-weight: bold
    line-height: 1.51
    @include responsive($screen: mobile)
      line-height: 1.5
      font-size: 18px
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 20px
    @include responsive($screen: large-desktop)
      font-size: 26px

  &__phone
    line-height: 1.17
    @include responsive($screen: mobile)
      padding-top: 10px
      font-size: 16px
      line-height: 1.5
      padding-right: 15%
    @include responsive($screen: tablet)
      padding-top: 5px
      font-size: 10px
    @include responsive($screen: desktop)
      padding-top: 7px
      font-size: 12px
    @include responsive($screen: large-desktop)
      padding-top: 6px
      font-size: 18px
