@import '../../styles/variables.sass'
$proxima-font-path: "../../assets/fonts/proxima"
$mallory-font-path: "../../assets/fonts/mallory"

.App
  position: absolute
  text-align: center
  color: $darkGray

img
  object-fit: contain

p, h1, h2, h3
  margin: 0

@font-face
  src: url("#{$proxima-font-path}/ProximaNova-Regular.otf")
  font-family: ProximaNova

@font-face
  src: url("#{$mallory-font-path}/Mallory Black.ttf")
  font-family: Mallory
