@import '../../styles/variables.sass'
$proxima-font-path: "../../assets/fonts/proxima"
$mallory-font-path: "../../assets/fonts/mallory"

*
  box-sizing: border-box

body
  margin: 0

ul
  list-style: none

a
  text-decoration: none
  color: $darkGray

.App
  position: absolute
  top: 0
  right: 0
  left: 0
  text-align: center
  color: $darkGray

img
  object-fit: contain

p, h1, h2, h3
  margin: 0
  color: $darkGray

h1, h2, h3, h4, h5, h6
  letter-spacing: 0.2px
  margin: 0

@font-face
  src: url("#{$proxima-font-path}/ProximaNova-Regular.otf")
  font-family: ProximaNovaRegular

@font-face
  src: url("#{$proxima-font-path}/Proxima Nova Bold.otf")
  font-family: ProximaNovaBold

@font-face
  src: url("#{$mallory-font-path}/Mallory Compact Medium.ttf")
  font-family: MalloryMedium

h1, h2, h3
  font-family: MalloryMedium

h4, h5, strong
  font-family: ProximaNovaBold

h6
  font-family: ProximaNovaRegular
  color: $darkGray

p, span
  font-family: ProximaNovaRegular

.react-multi-carousel-list
  max-width: 90vw
  width: 90%
  margin: 0 auto

  .react-multiple-carousel__arrow
    background-color: transparent !important

    &:before
      color: #e5e5e5

  .react-multi-carousel-dotFh2
    width: 10px
    height: 10px
    border-radius: 50%
    background: $yellow
    display: inline-block
    margin-right: 10px

  .react-multi-carousel-dot--active
    width: 30px
    border-radius: 20px

  .react-multi-carousel-dot
    button
      display: none

.react-multiple-carousel__arrow--left
  left: 0 !important

.react-multiple-carousel__arrow--right
  right: 0 !important

.arrow-down
  height: 10px
  margin-left: 5px

.wavy-bg
  width: 100%

.no-scroll
  overflow: hidden

.font-bold
  font-weight: 700

.heading-xl
  font-size: 34px
  color: $solidBlack

.heading-lg
  font-size: 26px
  padding-bottom: 20px
  color: $darkGray

.heading-base
  font-size: 20px
  color: $darkGray

.heading-small
  font-size: 24px
  color: $softBlack

.heading-x-small
  font-size: 20px
  color: $softBlack

.text-xl
  font-size: 18px

.text-lg
  font-size: 16px

@media only screen and (min-width: 1300px)
  .flex-one
    flex: 1

  .flex-two
    flex: 2

  .flex-box
    display: flex

  .heading-xl
    font-size: 60px
    padding-bottom: 30px

  .heading-lg
    font-size: 50px
    padding-bottom: 40px

  .heading-base
    font-size: 34px
    padding-bottom: 40px

  .heading-small
    font-size: 24px
    padding-bottom: 20px

  .heading-x-small
    font-size: 20px
    padding-bottom: 12px

  .text-xl
    font-size: 26px

  .text-lg
    font-size: 20px
