@import 'styles/variables'
@import 'styles/mixins'

.success
  background-color: $softGray
  @include responsive($screen: mobile)
    padding: 50px 0
  @include responsive($screen: tablet)
    padding: 53px 0
  @include responsive($screen: desktop)
    padding: 71px 0
  @include responsive($screen: large-desktop)
    padding: 80px 0

  &__map
    width: 100%
    @include responsive($screen: mobile)
      padding-top: 40px
    @include responsive($screen: tablet)
      padding-top: 32px
    @include responsive($screen: desktop)
      padding-top: 43px
    @include responsive($screen: large-desktop)
      padding-top: 82px

  &__paragraph
    @include responsive($screen: mobile)
    @include responsive($screen: tablet)
    @include responsive($screen: desktop)
    @include responsive($screen: large-desktop)
      padding-top: 20px

  &__sum
    @include responsive($screen: mobile)
    @include responsive($screen: tablet)
      padding-top: 43px
    @include responsive($screen: desktop)
      padding-top: 57px
    @include responsive($screen: large-desktop)
      padding-top: 80px
    .col-md-6
      h3
        line-height: 1.35
        @include responsive($screen: mobile)
          padding-top: 40px
          font-size: 18px
          border-bottom: 2px solid $darkGray
          padding-bottom: 10px
        @include responsive($screen: tablet)
          font-size: 20px
          border-bottom: 2px solid $darkGray
          padding-bottom: 11px
        @include responsive($screen: desktop)
          font-size: 26px
          border-bottom: 3px solid $darkGray
          padding-bottom: 14px
        @include responsive($screen: large-desktop)
          font-size: 26px
          border-bottom: 2px solid $darkGray
          padding-bottom: 20px
      p
        line-height: 1.5
        @include responsive($screen: mobile)
          padding-top: 10px
          font-size: 16px
        @include responsive($screen: tablet)
          font-size: 12px
        @include responsive($screen: desktop)
          font-size: 14px
        @include responsive($screen: large-desktop)
          font-size: 18px
      &:nth-child(2n+1)
        padding-left: 0
        @include responsive($screen: tablet)
          padding-right: 60px
        @include responsive($screen: desktop)
          padding-right: 80px
        @include responsive($screen: large-desktop)
          padding-right: 123px
      &:not(:last-child):not(:nth-last-child(2))
        @include responsive($screen: tablet)
          padding-bottom: 27px
        @include responsive($screen: desktop)
          padding-bottom: 36px
        @include responsive($screen: large-desktop)
          padding-bottom: 60px

  &__main-title
    font-family: MalloryBold
    line-height: 1.33
    @include responsive($screen: mobile)
      font-size: 24px
      line-height: 1.34
      padding-bottom: 20px !important
    @include responsive($screen: tablet)
      font-size: 28px
    @include responsive($screen: desktop)
      font-size: 38px
    @include responsive($screen: large-desktop)
      font-size: 40px

  &__main-description
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 16px
      line-height: 1.5
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 18px
    @include responsive($screen: large-desktop)
      font-size: 24px
