@import 'styles/variables'
@import 'styles/mixins'

.quote
  @include responsive($screen: mobile)
    padding-top: 0
  @include responsive($screen: tablet)
    padding-top: 40px
  @include responsive($screen: desktop)
    padding-top: 56px
  @include responsive($screen: large-desktop)
    padding-top: 80px

  &__content
    font-family: MalloryBold
    color: $darkGray
    line-height: 1.53
    @include responsive($screen: mobile)
      width: 82.9%
      font-size: 28px
      line-height: 1.54
      padding-bottom: 20px
    @include responsive($screen: tablet)
      padding-top: 2px
      font-size: 24px
      padding-bottom: 14px
    @include responsive($screen: desktop)
      padding-top: 3px
      font-size: 32px
      padding-bottom: 19px
    @include responsive($screen: large-desktop)
      padding-top: 4px
      font-size: 46px
      padding-bottom: 27px

  &__author
    max-width: 67.5%
    font-size: 26px
    line-height: 1.45
    @include responsive($screen: mobile)
      width: 79.1%
      font-size: 16px
      line-height: 1.5
      padding-bottom: 30px
    @include responsive($screen: tablet)
      font-size: 14px
    @include responsive($screen: desktop)
      font-size: 14px
    @include responsive($screen: large-desktop)
      font-size: 20px

  img
    object-fit: contain
    @include responsive($screen: mobile)
      max-width: calc( 100% + 30px )
      margin: 0 -15px
    @include responsive($screen: tablet)
      max-width: calc(100% + 63px)
      margin-left: 11px
    @include responsive($screen: desktop)
      max-width: calc(100% + 94px)
      margin-left: 15px
    @include responsive($screen: large-desktop)
      max-width: calc(100% + 121px)
      margin-left: 22px

  button.react-multiple-carousel__arrow, ul.react-multi-carousel-dot-list
    display: none
