@import '../../../../styles/variables.sass'
.services-description
  h2
    line-height: 1.2
  p
    line-height: 1.54;

  .col-md-6
    padding-left: 0 !important
  
  img
    position: inherit
    right: 0

@media (min-width: 768px) and (max-width: 1023px)
  .services-description
    padding-top: 64px
    padding-bottom: 103px

    h2
      font-size: 26px
    p
      padding-top: 3vw
      font-size: 14px;

    img
      width: calc(100% + 50px)

@media (min-width: 1024px) and (max-width: 1365px)
  .services-description
    padding-top: 85px
    padding-bottom: 137px

    h2
      font-size: 35px
    p
      padding-top: 3vw
      font-size: 18px;

    img
      width: calc(100% + 70px)

@media only screen and (min-width: 1366px)
  .services-description
    padding-top: 120px
    padding-bottom: 193px

    h2
      font-size: 50px
    p
      padding-top: 43px
      font-size: 26px

    img
      width: calc(100% + 100px)
