@import 'styles/variables'
@import 'styles/mixins'

.services-description
  @include responsive($screen: mobile)
    padding-top: 30px
    padding-bottom: 74.6px
  @include responsive($screen: tablet)
    padding-top: 40px
    padding-bottom: 75px
  @include responsive($screen: desktop)
    padding-top: 35px
    padding-bottom: 105px
  @include responsive($screen: large-desktop)
    padding-top: 80px
    padding-bottom: 150px

  h2
    line-height: 1.33
    text-transform: uppercase
    @include responsive($screen: mobile)
      font-size: 28px
      padding-bottom: 21px
      text-transform: capitalize
    @include responsive($screen: tablet)
      font-size: 20px
    @include responsive($screen: desktop)
      font-size: 28px
    @include responsive($screen: large-desktop)
      font-size: 40px

  p
    line-height: 1.5
    @include responsive($screen: mobile)
      font-size: 16px
      line-height: 1.5
    @include responsive($screen: tablet)
      padding-top: 15px
      font-size: 14px
    @include responsive($screen: desktop)
      padding-top: 20px
      font-size: 14px
    @include responsive($screen: large-desktop)
      padding-top: 29px
      font-size: 18px

  .col-md-6
    padding-left: 0 !important

  img
    position: inherit
    right: 0
    @include responsive($screen: mobile)
      margin-left: -15px
      padding-top: 30px
      width: calc(100% + 30px)
    @include responsive($screen: tablet)
      width: calc(100% + 9px)
    @include responsive($screen: desktop)
      width: calc(100% + 12px)
    @include responsive($screen: large-desktop)
      width: calc(100% + 18px)