@import '../../../../styles/variables.sass'

.develop
  &__image
    width: 100%

  .row
    p
      line-height: 1.54
    .col-md-7
      div, img
        position: inherit
        right: 0  
  
  .rectangle 
    background-color: $softGray;

  &__title
    text-align: center

@media (min-width: 768px) and (max-width: 1367px)
  .develop
    padding-top: 10.4vw
    padding-bottom: 4.8vw

    .row
      margin-top: 6.9vw
      h3
        padding-top: 3.5vw
        font-size: 26px
      p
        padding-top: 2.1vw
        font-size: 18px
    
    .rectangle 
      width: 56.6vw
      height: 2.1vw
      border-radius: 0.4vw;

    &__image
      width: 56.6vw

    &__title
      height: 6.3vw

@media only screen and (min-width: 1368px)
  .develop
    padding-top: 150px
    padding-bottom: 69px

    .row
      margin-top: 100px
      h3
        padding-top: 50px
        font-size: 34px
      p
        padding-top: 30px
        font-size: 26px
    
    .rectangle 
      width: 815px
      height: 30px
      border-radius: 6px;

    &__image
      width: 815px

    &__title
      height: 90px
