@import 'styles/variables'
@import 'styles/mixins'

.develop
  @include responsive($screen: mobile)
    padding: 50px 0 2px 0
  @include responsive($screen: tablet)
    padding-top: 50px
  @include responsive($screen: desktop)
    padding-top: 70px
  @include responsive($screen: large-desktop)
    padding-top: 100px

  &__content
    @include responsive($screen: tablet)
      margin-top: 40px !important
    @include responsive($screen: desktop)
      margin-top: 56px !important
    @include responsive($screen: large-desktop)
      margin-top: 80px !important
    h3
      line-height: 1.5
      @include responsive($screen: mobile)
        width: 80%
        padding-top: 40px
        font-size: 18px
      @include responsive($screen: tablet)
        font-size: 16px
      @include responsive($screen: desktop)
        font-size: 22px
      @include responsive($screen: large-desktop)
        font-size: 32px
    p
      line-height: 1.5
      @include responsive($screen: mobile)
        padding-top: 20px
        padding-bottom: 40px
        font-size: 16px
        line-height: 1.5
      @include responsive($screen: tablet)
        padding-top: 10px
        font-size: 14px
      @include responsive($screen: desktop)
        padding-top: 14px
        font-size: 14px
      @include responsive($screen: large-desktop)
        padding-top: 20px
        font-size: 18px

  .image-wrapper
    @include responsive($screen: mobile)
      margin-right: -15px
    @include responsive($screen: tablet)
      margin-right: -55px
    @include responsive($screen: desktop)
      margin-right: -77px
    @include responsive($screen: large-desktop)
      margin-right: -110px

  .rectangle, &__image
    width: 100%
    @include responsive($screen: mobile)
      position: absolute
      right: -10px
      width: 85.1%

  &__image-placeholder
    width: 87.3%

  .rectangle
    background-color: $softGray
    @include responsive($screen: mobile)
      height: 13.1px
      border-radius: 2.6px
    @include responsive($screen: tablet)
      height: 10px
      border-radius: 2.1px
    @include responsive($screen: desktop)
      height: 14px
      border-radius: 2.9px
    @include responsive($screen: large-desktop)
      height: 20px
      border-radius: 4.2px

  &__title
    text-align: center
    line-height: 1.33
    @include responsive($screen: mobile)
      text-align: left
      font-size: 24px
    @include responsive($screen: tablet)
      font-size: 20px
    @include responsive($screen: desktop)
      font-size: 28px
    @include responsive($screen: large-desktop)
      font-size: 40px
