.development-team-container
  .service
    &__line
      height: 265px

    &__logos-wrapper
      display: none

    &__yellow-rectangle
      .flex-two
        max-width: 610px
        padding-right: 0
