@import 'styles/variables'
@import 'styles/mixins'

.portfolio
  header, &__priority
    background-color: $slightOrange !important

  .nav-tabs
    border-bottom: none

  &__priority
    @include responsive($screen: mobile)
      padding: 37px 0 50px 0
    @include responsive($screen: tablet)
      padding: 107px 0 80px 0
    @include responsive($screen: desktop)
      padding: 142px 0 107px 0
    @include responsive($screen: large-desktop)
      padding: 200px 0 150px 0
    h1
      @include responsive($screen: mobile)
        font-size: 28px
        line-height: 1.36
        padding-bottom: 20px
      @include responsive($screen: tablet)
        font-size: 26px
        padding-right: 139px
        padding-bottom: 43px
      @include responsive($screen: desktop)
        font-size: 38px
        padding-right: 185px
        padding-bottom: 57px
      @include responsive($screen: large-desktop)
        font-size: 60px
        padding-right: 260px
        padding-bottom: 80px

    &__left-paragraph
      line-height: 1.5
      @include responsive($screen: mobile)
        font-size: 16px
        margin-bottom: 20px
      @include responsive($screen: tablet)
        font-size: 18px
      @include responsive($screen: desktop)
        font-size: 26px
      @include responsive($screen: large-desktop)
        font-size: 34px

    &__right-paragraph
      line-height: 1.8
      @include responsive($screen: mobile)
        font-size: 14px
        line-height: 1.58
      @include responsive($screen: tablet)
        font-size: 14px
      @include responsive($screen: desktop)
        font-size: 14px
      @include responsive($screen: large-desktop)
        font-size: 20px

  .nav-link
    border: none !important
    font-family: MalloryBold
    color: $darkGray
    padding-left: 0
    padding-top: 0
    padding-bottom: 0
    @include responsive($screen: mobile)
      font-size: 14px
      padding-right: 20px
      &:last-child
        padding-right: 0
    @include responsive($screen: tablet)
      font-size: 20px
      padding-right: 43px
      margin-bottom: 28px
    @include responsive($screen: desktop)
      font-size: 26px
      padding-right: 57px
      margin-bottom: 28px
    @include responsive($screen: large-desktop)
      font-size: 34px
      padding-right: 80px
      margin-bottom: 40px

  .nav-link.active
    position: relative
    z-index: 1
    &:before
      content: ""
      margin: 0 auto
      position: absolute
      top: 50%
      right: 0
      bottom: 0
      z-index: -1
      @include responsive($screen: mobile)
        border-top: 2px solid #fabf22
        left: -20px
        width: calc(100% - 10px)
      @include responsive($screen: tablet)
        border-top: 3px solid #fabf22
        left: -43px
        width: calc(100% - 36px)
      @include responsive($screen: desktop)
        border-top: 4px solid #fabf22
        left: -57px
        width: calc(100% - 36px)
      @include responsive($screen: large-desktop)
        border-top: 5px solid #fabf22
        left: -80px
        width: calc(100% - 50px)
    p
      color: $darkGray
    h1
      color: $solidBlack

  &__project
    @include responsive($screen: mobile)
      padding: 50px 0 30px 0
    @include responsive($screen: tablet)
      padding: 43px 0 80px 0
    @include responsive($screen: desktop)
      padding: 57px 0 107px 0
    @include responsive($screen: large-desktop)
      padding: 80px 0 150px 0

  &__interesting
    text-align: center
    @include responsive($screen: mobile)
    @include responsive($screen: tablet)
      padding: 152px 0
    @include responsive($screen: desktop)
      padding: 203px 0
    @include responsive($screen: large-desktop)
      padding: 285px 0

    p
      line-height: 1.33
      @include responsive($screen: mobile)
      @include responsive($screen: tablet)
        font-size: 16px
      @include responsive($screen: desktop)
        font-size: 20px
      @include responsive($screen: large-desktop)
        font-size: 30px

  &__tab
    @include responsive($screen: mobile)
      padding-top: 20px
    @include responsive($screen: tablet)
      padding-top: 24px
      margin-left: -15px !important
      margin-right: -15px !important
    @include responsive($screen: desktop)
      padding-top: 32px
      margin-left: -20px !important
      margin-right: -20px !important
    @include responsive($screen: large-desktop)
      padding-top: 41px
      margin-left: -30px !important
      margin-right: -30px !important

    &__card
      display: block
      background-repeat: no-repeat
      background-position: top
      background-size: 100%
      transition: transform .3s
      position: relative
      @include responsive($screen: mobile)
        margin-top: 20px
      @include responsive($screen: tablet)
        padding-left: 10px
        padding-right: 10px
        margin-top: 30px
      @include responsive($screen: desktop)
        padding-left: 12.5px
        padding-right: 12.5px
        margin-top: 40px
      @include responsive($screen: large-desktop)
        padding-left: 20px
        padding-right: 20px
        margin-top: 60px
      &:hover
        transform: scale(1.03)
      h4
        font-family: MalloryBold
        color: $darkGray
        line-height: 1.5
        z-index: 1
        position: absolute
        @include responsive($screen: mobile)
          top: 40px
          padding: 0 40px 0 40px
          font-size: 18px
        @include responsive($screen: tablet)
          top: 30px
          padding: 0 32px 0 32px
          font-size: 20px
        @include responsive($screen: desktop)
          top: 40px
          padding: 0 43px 0 43px
          font-size: 26px
        @include responsive($screen: large-desktop)
          top: 56px
          padding: 0 60px 0 60px
          font-size: 32px
      img
        max-width: 100%
        @include responsive($screen: mobile)
        @include responsive($screen: tablet)
          border-radius: 5px
        @include responsive($screen: desktop)
          border-radius: 7px
        @include responsive($screen: large-desktop)
          border-radius: 10px

  .white-title
    color: $white