@import 'styles/variables'
@import 'styles/mixins'
  
  
.accordion
  border: none
  font-family: MalloryBold

.accordion__item + .accordion__item
  
  border: none !important
  @include responsive($screen: mobile)
    margin-bottom: 10px
  @include responsive($screen: tablet)
    margin-bottom: 6px
  @include responsive($screen: desktop)
    margin-bottom: 8px
  @include responsive($screen: large-desktop)
    margin-bottom: 12px


.accordion__button
  &:focus
    outline: none
  border: none !important
  background-color: #f4f4f4
  color: #444
  cursor: pointer
  padding: 18px
  width: 100%
  text-align: left
  font-family: MalloryBold
  margin-top: 10px
  @include responsive($screen: mobile)
    font-size: 14px
    line-height: 1.57
    
  @include responsive($screen: tablet)
    font-size: 14px
  @include responsive($screen: desktop)
    font-size: 14px
  @include responsive($screen: large-desktop)
    font-size: 16px
  &:hover
    background-color: #ddd

  &:before
    display: inline-block
    content: '+'
    height: 12px
    width: 12px
    margin-right: 20px
    margin-left: 11px
    font-size: 20px
    @include responsive($screen: mobile)
      font-size: 15px
      margin-right: 8px
      margin-left: 2px

  &[aria-expanded='true']::before, &[aria-selected='true']::before
   content: 'x'
.accordion__panel
  border: none
  padding: 20px
  animation: fadein 0.35s ease-out
  background-color: #f4f4f4
  margin-bottom: 10px
  @include responsive($screen: mobile)
    font-size: 14px
    padding: 0 20px 20px 50px !important
  @include responsive($screen: tablet)
    font-size: 14px
    padding: 0 106px 10px 32px !important
  @include responsive($screen: desktop)
    font-size: 14px
    padding: 0 148px 14px 46px !important
  @include responsive($screen: large-desktop)
    font-size: 16px
    padding: 0 210px 19px 64px !important
/* --------------------------------------------------
/* ---------------- Animation part ------------------
/* --------------------------------------------------

@keyframes fadein
  0%
    opacity: 0

  100%
    opacity: 1