@import 'styles/variables'
@import 'styles/mixins'
  
  
.accordion
  border: none
  font-family: MalloryBold

.accordion__item + .accordion__item
  border: none !important
  @include responsive($screen: mobile)
    margin-bottom: 10px
  @include responsive($screen: tablet)
    margin-bottom: 6px
  @include responsive($screen: desktop)
    margin-bottom: 8px
  @include responsive($screen: large-desktop)
    margin-bottom: 12px


.accordion__button
  &:focus
    outline: none

  border: none !important
  background-color: #f4f4f4
  color: #444
  cursor: pointer
  padding: 18px
  width: 100%
  text-align: left
  font-family: MalloryBold
  margin-bottom: 10px
  @include responsive($screen: mobile)
    font-size: 14px
    line-height: 1.57
  @include responsive($screen: tablet)
    font-size: 14px
  @include responsive($screen: desktop)
    font-size: 14px
  @include responsive($screen: large-desktop)
    font-size: 16px
  &:hover
    background-color: #ddd

  &:before
    display: inline-block
    content: '✚'
    height: 10px
    width: 10px
    margin-right: 12px
    font-weight: bold

  &[aria-expanded='true']::before, &[aria-selected='true']::before
    transform: rotate(45deg)

.accordion__panel
  border: none
  padding: 20px
  animation: fadein 0.35s ease-out
  @include responsive($screen: mobile)
    padding: 0 20px 20px 50px !important
  @include responsive($screen: tablet)
    padding: 0 106px 10px 32px !important
  @include responsive($screen: desktop)
    padding: 0 148px 14px 46px !important
  @include responsive($screen: large-desktop)
    padding: 0 210px 19px 64px !important
/* --------------------------------------------------
/* ---------------- Animation part ------------------
/* --------------------------------------------------

@keyframes fadein
  0%
    opacity: 0

  100%
    opacity: 1