@import 'styles/variables'
@import 'styles/mixins'

.not-found
    white-space: pre-wrap

    header, &__content
        background-color: $slightOrange

    &__content
        @include responsive($screen: mobile)
            padding-top: 50px
            padding-bottom: 50px
        @include responsive($screen: tablet)
            padding-top: 40px
            padding-bottom: 116px
        @include responsive($screen: desktop)
            padding-top: 56px
            padding-bottom: 160px
        @include responsive($screen: large-desktop)
            padding-top: 80px
            padding-bottom: 230px

        h1
            line-height: 1.25
            @include responsive($screen: mobile)
                font-size: 40px
                padding-bottom: 20px
            @include responsive($screen: tablet)
                font-size: 32px
                padding-bottom: 10px
            @include responsive($screen: desktop)
                font-size: 44px
                padding-bottom: 14px
            @include responsive($screen: large-desktop)
                font-size: 64px
                padding-bottom: 20px

        p
            line-height: 1.5
            @include responsive($screen: mobile)
                font-size: 16px
                padding-bottom: 20px
            @include responsive($screen: tablet)
                font-size: 14px
                padding-bottom: 22px
            @include responsive($screen: desktop)
                font-size: 14px
                padding-bottom: 22px
            @include responsive($screen: large-desktop)
                font-size: 20px
                padding-bottom: 30px

        img
            float: right
            width: 94.7%
            height: auto
            @include responsive($screen: mobile)
                margin-bottom: 20px
            @include responsive($screen: tablet)
                margin-top: 28px
            @include responsive($screen: desktop)
                margin-top: 38px
            @include responsive($screen: large-desktop)
                margin-top: 54px

        .back-to-home
            background-color: $yellow
            line-height: 1.25
            font-family: ProximaNovaBold
            width: fit-content
            @include responsive($screen: mobile)
                padding: 12px 26px 0 26px
                height: 45px
                font-size: 16px
            @include responsive($screen: tablet)
                padding: 11px 22px 0 22px
                height: 40px
                font-size: 14px
            @include responsive($screen: desktop)
                padding: 11px 22px 0 22px
                height: 40px
                font-size: 14px
            @include responsive($screen: large-desktop)
                padding: 12px 26px 0 26px
                height: 45px
                font-size: 16px

    #cursor-follower
        position: absolute
        z-index: 5
        opacity: 0.5
        width: 16.7vw
        height: 16.7vw
        max-width: 240px
        max-height: 240px
        background-image: url('../../assets/images/yellow0.svg')
        background-size: 100%
        left: 885px
        top: 270px
